# 개요

# Prepare

# 1. 초기 세팅

## Library & data load

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# 처리용 df와 오리지널 버전 남겨놓음
df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202205.csv",encoding='euc_kr')
org_df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202205.csv",encoding='euc_kr')

# Pre-Processing

## Basic info

In [3]:
df.head()

            품목명   단위      등급     가격            산지 친환경구분       입력일
0  [가리비국산]가리비국산  5kg  보통(3등)  28000  경남 마산(고성,진해)    일반  20220502
1  [가리비국산]가리비국산  5kg  보통(3등)  26000  경남 마산(고성,진해)    일반  20220502
2  [가리비국산]가리비국산  5kg  보통(3등)  26000  경남 마산(고성,진해)    일반  20220502
3  [가리비국산]가리비국산  5kg  보통(3등)  26000  경남 마산(고성,진해)    일반  20220502
4  [가자미국산]가자미국산  5kg  보통(3등)   6000       전북 군산\t    일반  20220502

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997888 entries, 0 to 997887
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   품목명     997888 non-null  object
 1   단위      997888 non-null  object
 2   등급      997888 non-null  object
 3   가격      997888 non-null  int64
 4   산지      996488 non-null  object
 5   친환경구분   997888 non-null  object
 6   입력일     997888 non-null  int64
dtypes: int64(2), object(5)
memory usage: 53.3+ MB

In [5]:
# 산지 제외하고는 결측치 없는 것으로 확인
df.isnull().sum()

품목명         0
단위          0
등급          0
가격          0
산지       1400
친환경구분       0
입력일         0
dtype: int64

- 결측치 처리

In [6]:
###
# 양이 많지 않으므로 결측치 제거
df = df.dropna(axis=0)

- 영문명으로 전환

In [7]:
df = df.rename(columns = {'품목명':'prd',
                          '단위':'scale','등급':'class',
                          '가격':'price',
                          '산지':'origin',
                          '친환경구분':'eco',
                          '입력일':'reg_date'})

## column 별 정보

### class

In [8]:
# 이름 모두 영어로 변경
# 9등과 없음 모두 9로 변경
df['class'].value_counts().index

Index(['특(1등)', '상(2등)', '보통(3등)', '9등(등외)', '없음', '5등', '4등', '6등', '7등',
       '8등'],
      dtype='object')

In [9]:
df111 = pd.DataFrame([['특(1등)', 1], ['상(2등)',2], ['보통(3등)',3], ['9등(등외)',9], ['없음',9], ['5등',5], ['4등',4], ['6등',6], ['7등',7],['8등',8]],columns=['class','new_class'])

In [10]:
df2 = df.merge(df111)
df2 = df2.drop(columns='class')

In [11]:
df2

                 prd scale  price        origin eco  reg_date  new_class
0       [가리비국산]가리비국산   5kg  28000  경남 마산(고성,진해)  일반  20220502          3
1       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  일반  20220502          3
2       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  일반  20220502          3
3       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  일반  20220502          3
4       [가자미국산]가자미국산   5kg   6000       전북 군산\t  일반  20220502          3
...              ...   ...    ...           ...  ..       ...        ...
996483    [양파]양파(일반)  15kg   7500        전남 무안군  일반  20220530          8
996484    [양파]양파(일반)  15kg   7500        전남 무안군  일반  20220530          8
996485     [양파]자주색양파  15kg  12000        전남 무안군  일반  20220530          8
996486    [양파]양파(일반)  15kg   9000        전남 무안군  일반  20220531          8
996487    [양파]양파(일반)  15kg   9000        전남 무안군  일반  20220531          8

[996488 rows x 7 columns]

### eco

In [12]:
# 영문명으로 전환
# 전환기 -> 유기농 재배로 전환중
df2.loc[df2["eco"]=="일반","eco"] = "normal"
df2.loc[df2["eco"]=="우수농산물","eco"] = "good_prd"
df2.loc[df2["eco"]=="무농약","eco"] = "ecofriendly"
df2.loc[df2["eco"]=="유기농","eco"] = "organic"
df2.loc[df2["eco"]=="품질인증","eco"] = "certified"
df2.loc[df2["eco"]=="전환기","eco"] = "ing"

In [13]:
df2

                 prd scale  price        origin     eco  reg_date  new_class
0       [가리비국산]가리비국산   5kg  28000  경남 마산(고성,진해)  normal  20220502          3
1       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal  20220502          3
2       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal  20220502          3
3       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal  20220502          3
4       [가자미국산]가자미국산   5kg   6000       전북 군산\t  normal  20220502          3
...              ...   ...    ...           ...     ...       ...        ...
996483    [양파]양파(일반)  15kg   7500        전남 무안군  normal  20220530          8
996484    [양파]양파(일반)  15kg   7500        전남 무안군  normal  20220530          8
996485     [양파]자주색양파  15kg  12000        전남 무안군  normal  20220530          8
996486    [양파]양파(일반)  15kg   9000        전남 무안군  normal  20220531          8
996487    [양파]양파(일반)  15kg   9000        전남 무안군  normal  20220531          8

[996488 rows x 7 columns]

### reg_date

In [14]:
df2['reg_date'] = df2['reg_date'].astype('str')

In [15]:
df2['reg_date'] = pd.to_datetime(df2['reg_date'].astype('str'),format='%Y%m%d')

In [16]:
df2

                 prd scale  price        origin     eco   reg_date  new_class
0       [가리비국산]가리비국산   5kg  28000  경남 마산(고성,진해)  normal 2022-05-02          3
1       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal 2022-05-02          3
2       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal 2022-05-02          3
3       [가리비국산]가리비국산   5kg  26000  경남 마산(고성,진해)  normal 2022-05-02          3
4       [가자미국산]가자미국산   5kg   6000       전북 군산\t  normal 2022-05-02          3
...              ...   ...    ...           ...     ...        ...        ...
996483    [양파]양파(일반)  15kg   7500        전남 무안군  normal 2022-05-30          8
996484    [양파]양파(일반)  15kg   7500        전남 무안군  normal 2022-05-30          8
996485     [양파]자주색양파  15kg  12000        전남 무안군  normal 2022-05-30          8
996486    [양파]양파(일반)  15kg   9000        전남 무안군  normal 2022-05-31          8
996487    [양파]양파(일반)  15kg   9000        전남 무안군  normal 2022-05-31          8

[996488 rows x 7 columns]

### price

In [17]:
# 계산을 위해 scale 값 미리 변경
# 현재 값들은 string이므로 float 형태로 변환할 필요가 있음
# 몇몇 이상치 처리도 진행
def scale_checker(scale):
  if scale.startswith('.')==True:
    return format(float('0'+scale[:-2]),'.2f')
  else:
    return format(float((scale[:-2])),'.2f')
df2['scale'] = df2['scale'].apply(scale_checker)
df2['scale'] = df2['scale'].astype('float')
# df2['scale'] = format(round(df2['scale'].apply(pd.to_numeric),2),'.2f')

In [18]:
df2['scale'].unique()

array([5.000e+00, 4.500e+00, 8.000e+00, 3.000e+00, 2.000e+01, 1.000e+01,
       5.700e+00, 2.000e+00, 5.000e-02, 2.500e-01, 1.600e-01, 6.000e-02,
       1.500e-01, 7.000e-02, 8.000e-01, 1.000e+00, 7.000e-01, 9.000e-01,
       1.700e+00, 1.800e+01, 4.000e+00, 1.900e+00, 2.100e+00, 1.800e+00,
       1.500e+00, 5.000e-01, 9.000e+00, 1.400e+00, 1.600e+00, 1.500e+01,
       6.000e+00, 1.200e+01, 1.100e+01, 2.900e+00, 2.800e+00, 3.200e+00,
       2.100e+01, 2.500e+00, 3.500e+00, 1.400e+01, 1.600e+01, 2.300e+00,
       7.000e+00, 5.400e+00, 2.600e+01, 5.100e+00, 1.010e+00, 2.150e+01,
       1.200e+00, 3.400e+00, 3.600e+00, 2.600e+00, 1.100e+00, 2.400e+00,
       5.020e+00, 6.300e+00, 2.200e+00, 2.370e+01, 1.080e+01, 7.500e+00,
       2.700e+00, 4.400e+00, 8.010e+00, 4.200e+00, 9.010e+00, 2.250e+01,
       1.300e+00, 3.100e+00, 2.520e+00, 1.060e+01, 1.300e+01, 1.160e+01,
       8.500e+00, 9.500e+00, 1.900e+01, 1.700e+01, 5.200e+00, 2.360e+00,
       2.200e+01, 2.160e+00, 3.300e+00, 1.530e+01, 2.000e-01, 1.350e+01,
       3.700e+00, 4.800e+00, 2.300e+01, 3.000e+01, 3.600e+01, 2.540e+00,
       4.000e-01, 5.500e+00, 3.800e+00, 7.200e+01, 7.500e+01, 6.450e+01,
       5.800e+01, 6.500e+00, 6.700e+00, 1.370e+01, 7.050e+01, 7.450e+01,
       3.850e+01, 4.850e+01, 5.050e+01, 7.550e+01, 7.800e+01, 7.700e+01,
       7.600e+01, 6.900e+01, 3.150e+01, 7.950e+01, 7.150e+01, 8.900e+00,
       1.250e+01, 6.150e+01, 7.350e+01, 1.050e+01, 4.300e+00, 1.040e+01,
       6.000e-01, 5.010e+00, 2.400e+01, 3.500e-01, 2.500e+01, 1.000e-01,
       7.900e-01, 7.200e+00, 6.600e+00, 2.010e+00, 3.000e-01, 5.800e+00,
       5.600e+00, 8.200e+00, 7.300e+00, 6.800e+00, 4.600e+00, 2.700e+01,
       3.250e+00, 1.150e+01, 9.600e+00, 2.000e-02, 8.000e-02, 1.501e+01,
       9.300e+00, 3.900e+00, 8.700e+00, 7.700e+00, 1.723e+01, 1.450e+01,
       4.700e+00, 2.900e+01, 2.250e+00, 7.600e+00, 9.400e+00, 8.400e+00,
       4.900e+00, 4.300e+01, 7.300e+01, 1.000e-02, 2.200e-01, 5.400e-01,
       6.400e+00, 1.010e+02, 1.250e+00, 4.000e+01, 4.700e+01, 7.250e+01,
       7.650e+01, 7.850e+01, 8.150e+01, 3.550e+01, 4.250e+01, 2.340e+01,
       1.070e+02, 9.200e+00, 1.680e+01, 1.001e+01, 2.001e+01, 8.800e+00,
       1.000e+02, 2.000e+02, 1.120e+01, 8.600e+00, 7.100e+01, 8.300e+00,
       1.130e+01, 7.900e+00, 8.250e+01, 6.550e+01])

In [19]:
# 1원짜리 거래 발견, 너무 거래값이 작은 값들은 삭제
pd.options.display.float_format = '{:.5f}'.format
df2['price'].describe()

count     996488.00000
mean       20273.54355
std        38868.87484
min            0.00000
25%         8500.00000
50%        14200.00000
75%        25000.00000
max     23539000.00000
Name: price, dtype: float64

In [20]:
df2 = df2.drop(df2[df2['price']<500].index)

In [21]:
df2

,prd,scale,price,origin,eco,reg_date,new_class
0,[가리비국산]가리비국산,5.00000,28000,"경남 마산(고성,진해)",normal,2022-05-02,3
1,[가리비국산]가리비국산,5.00000,26000,"경남 마산(고성,진해)",normal,2022-05-02,3
2,[가리비국산]가리비국산,5.00000,26000,"경남 마산(고성,진해)",normal,2022-05-02,3
3,[가리비국산]가리비국산,5.00000,26000,"경남 마산(고성,진해)",normal,2022-05-02,3
4,[가자미국산]가자미국산,5.00000,6000,전북 군산\t,normal,2022-05-02,3
...,...,...,...,...,...,...,...
996483,[양파]양파(일반),15.00000,7500,전남 무안군,normal,2022-05-30,8
996484,[양파]양파(일반),15.00000,7500,전남 무안군,normal,2022-05-30,8
996485,[양파]자주색양파,15.00000,12000,전남 무안군,normal,2022-05-30,8
996486,[양파]양파(일반),15.00000,9000,전남 무안군,normal,2022-05-31,8
996487,[양파]양파(일반),15.00000,9000,전남 무안군,normal,2022-05-31,8

In [22]:
# kg 당 가격 생성

df2['price_kg'] = round((df2['price']/df2['scale']),2)

### prd
- 품목명 정리
- 품목 종류 정리

In [23]:
# 대부분 [상품 종류]상품명 으로 정리되어 있는걸 알 수 있음
df2['prd'].value_counts()

[참외]참외              66673
[오이]백다다기            42760
[참외]금싸라기(참외)        35388
[참외]금싸라기            29468
[호박]애호박             20257
                    ...
[야자]야자(수입)              1
[오이]오이(오이)              1
[적겨자]적겨자                1
[양배추]빨간양배추(적채)수입        1
[기타엽채류]고추잎              1
Name: prd, Length: 1300, dtype: int64

In [24]:
# 정리를 위해 상품명 삭제
def prd_sort(words):
  p = re.compile('[ㄱ-힣]+')
  word = re.search(p,words)
  return word.group()

df2['prd'] = df2['prd'].apply(prd_sort)

In [25]:
# 기타 품목 삭제
df2 = df2.drop(df2[df2['prd']=='기타'].index)

In [26]:
# 국산,수입산,깐,기타 삭제
def prd_sort2(words):
  p = re.compile('[^국산수입깐기타]+')
  word = re.search(p,str(words))
  return word.group()

df2["prd"] = df2["prd"].apply(prd_sort2)

In [27]:
# 몇몇 품목들 정리가 필요
a = sorted(df2['prd'].unique())
for i in range(len(a)):
  if i%15 != 0:
    print(a[i],end=' ')
  else:
    print(a[i],end=' ')
    print()

가리비
가물치 가오리 가오리채 가자미 가죽나물 가지 각굴 간재미 갈치 감 감귤 감자 갑오징어 갓 강낭콩
개조개 갯가재 건고구마순 건고추 게 게지 겨자 고 고구마 고구마순 고둥 고들빼 고등어 고사리 고추
고추잎 곤달비 곤드레나물 골뱅이 과실류 과일 과일류 굴 귤 근대 근채류 깻잎 꼬막 꼴뚜 꽁치
꽈리고추 낙지 넙치 논우렁이 눈볼대 느 다래 달래 당근 대구 대구포 대파 더덕 도다리 도라지
돗나물 동자개 동죽 두류 두릅 두리안 듀리안 딸 땅콩 라임 람부탄 레드쉬 레몬 리치 마늘
만가닥 만감 맛 망고 망고스턴 망고스틴 매생이 매실 머위대 메 메론 멸치 명태 명태곤니 명태알
명태포 모시조개 무 무순 무우 무화과 문어 문어바지락 미꾸라지 미나리 미더덕 민들레 민물새우 바나나 바지락
박 밤 방울토마토 방풍 방풍나물 배 배추 백새우 백합 뱀장어 버섯 버섯류 버찌 벗 병어
복숭아 봉지굴 부세 부지갱이 부추 북방대합조개 붉은고추 붕어 붕장어 브로커리 브로코리 블루베리 비 비름 비트
빈스 빨간양배추 사과 살구 삼 삼나물 삼치 상추 새꼬막 새송이 새싹 새우 새우살 새조개 샐러리
생강 생고추 서대 세러리 셀러리 소라 속새 숙주나물 시금치 실파 쌈채류 쑥 쑥갓 씀바귀 아귀
아보카도 아보카드 아스파라가스 아스파라거스 아욱 알 알배 앵두 야자 양배추 양상추 양송이 양채 양채류 양파
얼갈이 얼갈이배추 엄나무 연근 연어 열무 염고등어 엽경채류 엽채 엽채류 오가피 오디 오렌지 오만둥이 오이
오징어 오징어몸통 오징어채 옥 완두콩 용과 우럭조개 우렁 우렁쉥이 원추리 유채 임연 잉어 자두 자라
자몽 잔대 재첩 적겨자 적근대 적새우 적채 절단 죽순 중하 쪽파 쭈꾸미 참꼬막 참나물 참다래
참당귀 참외 참조 참죽나무순 채소 청겨자 청경채 청어 체리 총각무 취나물 치커리 칠게 칼라후라워 칼리플라워
칼리후라워 케일 코라비 코코넛 콜라비 콩 콩나물 키위 키조개 키조개날개 토마토 파 파세리 파인애플 파파야
파프리카 팥 패류 팽이 팽이버섯 포도 포장바지락 표고 표고버섯 풋고추 풋옥 피망 피조개 학꽁치 한치
해삼 해파리 향나물 호박 호박잎 홍고추 홍어 홍합 활복오징어

In [28]:
### 예시
# df2[(df2['prd']=='유채') & (df2['price']==4500)]['prd'].unique()
# df2[df2['prd']=='유채']['prd'].unique()

In [29]:
### 원래 단어 뭐였는지 검색
# org_df[org_df['품목명'].str.contains('느')]['품목명'].unique()

In [30]:
### 현재 이름 검색
# df2[df2['prd']=='느']

In [33]:
###
# JG

# 고 -> 고수로 변경
df2.loc[df2["prd"]=="고","prd"] = "고수"
# 과실류, 과일류, 과채, 채소 -> 과채류로 통합
df2.loc[df2["prd"]=="과실류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일야채류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일과채류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일","prd"] = "과채류"
df2.loc[df2["prd"]=="과채","prd"] = "과채류"
df2.loc[df2["prd"]=="채소","prd"] = "과채류"
# 고들빼 -> 고들빼기로 변경
df2.loc[df2["prd"]=="고들빼","prd"] = "고들빼기"
# 꼴뚜 -> 꼴두기로 변경
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
# 그레이프푸룻 -> 자몽으로 통합
df2.loc[df2["prd"]=="그레이프푸룻","prd"] = "자몽"

# 느 -> 느타리버섯으로 통합
df2.loc[df2["prd"]=="느","prd"] = "느타리버섯"

# 대구 관련 품목들 정리
df2.loc[df2["prd"]=="대구고니","prd"] = "대구"
df2.loc[df2["prd"]=="대구머리","prd"] = "대구"
df2.loc[df2["prd"]=="대구포","prd"] = "대구"
df2.loc[df2["prd"]=="대구알","prd"] = "대구"
# 듀리안 -> 두리안으로 통합
df2.loc[df2["prd"]=="듀리안","prd"] = "두리안"
# 딸 -> 딸기로 변경
df2.loc[df2["prd"]=="딸","prd"] = "딸기"

# 로케트 -> 루꼴라로 변경
df2.loc[df2["prd"]=="로케트","prd"] = "루꼴라"

# 만가닥 -> 만가닥버섯으로 변경
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
# 맛 -> 맛조개로 변경
df2.loc[df2["prd"]=="맛","prd"] = "맛조개"
# 망고스턴 -> 망고스틴으로 수정
df2.loc[df2["prd"]=="망고스턴","prd"] = "망고스틴"
# 메 -> 메기로 변경
df2.loc[df2["prd"]=="메","prd"] = "메기"
# 명태 관련 품목들 정리
df2.loc[df2["prd"]=="명태곤니","prd"] = "명태"
df2.loc[df2["prd"]=="명태알","prd"] = "명태"
df2.loc[df2["prd"]=="명태포","prd"] = "명태"
df2.loc[df2["prd"]=="코다리명태","prd"] = "명태"
# 무우 -> 무로 통합
df2.loc[df2["prd"]=="무우","prd"] = "무"

# 방풍 -> 방풍나물로 통합
df2.loc[df2["prd"]=="방풍","prd"] = "방풍나물"
# 버섯류 -> 버섯으로 변경
df2.loc[df2["prd"]=="버섯","prd"] = "버섯"
# 벗,버찌 -> 체리로 통합
df2.loc[df2["prd"]=="벗","prd"] = "체리"
df2.loc[df2["prd"]=="버찌","prd"] = "체리"
df2.loc[df2["prd"]=="벗찌","prd"] = "체리"
# 브로커리, 브로코리 -> 브로콜리로 통합
df2.loc[df2["prd"]=="브로커리","prd"] = "브로콜리"
df2.loc[df2["prd"]=="브로코리","prd"] = "브로콜리"

# 삼 -> 수삼으로 변경
df2.loc[df2["prd"]=="삼","prd"] = "수삼"
# 새우살 -> 새우로 변경
df2.loc[df2["prd"]=="새우살","prd"] = "새우"
# 세러리, 셀러리 -> 샐러리로 통합
df2.loc[df2["prd"]=="세러리","prd"] = "샐러리"
df2.loc[df2["prd"]=="셀러리","prd"] = "샐러리"
# 생고추 -> 고추로 통합
df2.loc[df2["prd"]=="생고추","prd"] = "고추"

# 아보카드 -> 아보카도로 변경
df2.loc[df2["prd"]=="아보카드","prd"] = "아보카도"
# 아스파라가스 -> 아스파라거스로 변경
df2.loc[df2["prd"]=="아스파라가스","prd"] = "아스파라거스"
# 알 -> 알타리무로 변경
df2.loc[df2["prd"]=="알","prd"] = "알타리무"
# 알배 -> 알배기로 변경
df2.loc[df2["prd"]=="알배","prd"] = "알배기"
# 양채 -> 양채류로 통합
df2.loc[df2["prd"]=="양채","prd"] = "양채류"
# 얼갈이 -> 얼갈이배추로 통합
df2.loc[df2["prd"]=="얼갈이","prd"] = "얼갈이배추"
# 엽채류, 엽채 -> 엽경채류로 통합
df2.loc[df2["prd"]=="엽채류","prd"] = "엽경채류"
df2.loc[df2["prd"]=="엽채","prd"] = "엽경채류"
# 오징어 관련 품목들 정리
df2.loc[df2["prd"]=="오징어다리","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어원양","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어채","prd"] = "오징어"
df2.loc[df2["prd"]=="활복오징어","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어채원양","prd"] = "오징어"
df2.loc[df2["prd"]=="갑오징어살","prd"] = "오징어"
df2.loc[df2["prd"]=="갑오징어몸통","prd"] = "오징어"
# 옥, 풋옥 -> 옥수수로 정리
df2.loc[df2["prd"]=="옥","prd"] = "옥수수"
df2.loc[df2["prd"]=="풋옥","prd"] = "옥수수"
# 임연 -> 임연수어로 정리
df2.loc[df2["prd"]=="임연","prd"] = "임연수어"


# 절단 -> 절단쭈꾸미 -> 쭈꾸미로 정리
df2.loc[df2["prd"]=="절단","prd"] = "쭈꾸미"
# 조개살 -> 조개로 정리
df2.loc[df2["prd"]=="조개살","prd"] = "조개"

# 참조 -> 참조기로 정리
df2.loc[df2["prd"]=="참조","prd"] = "참조기"

# 칼라후라워,칼리플라워, 칼리후라워 -> 컬리플라워로 통합
df2.loc[df2["prd"]=="칼라후라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리플라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리후라워","prd"] = "컬리플라워"
# 코라비 -> 콜라비로 통합
df2.loc[df2["prd"]=="코라비","prd"] = "콜라비"
# 키조개날개 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개날개","prd"] = "키조개"

# 팽이 -> 팽이버섯으로 통합
df2.loc[df2["prd"]=="팽이","prd"] = "팽이버섯"
# 파세리 -> 파슬리로 변경
df2.loc[df2["prd"]=="파세리","prd"] = "파슬리"
# 표고 -> 표고버섯으로 통합
df2.loc[df2["prd"]=="표고","prd"] = "표고버섯"
# 포장바지락 -> 바지락으로 변경
df2.loc[df2["prd"]=="포장바지락","prd"] = "바지락"

### 일단 여기까지 실행
# JY
#각굴 -> 굴로 통합
df2.loc[df2["prd"]=="각굴","prd"] = "굴"
#가오리채 -> 가오리로 통합
df2.loc[df2["prd"]=="가오리채","prd"] = "가오리"
# 게지 -> 키조개로 통합
df2.loc[df2["prd"]=="게지","prd"] = "키조개"
#고 -> 고구마로 통합
df2.loc[df2["prd"]=="고","prd"] = "고구마"
#꼴뚜 -> 꼴뚜기로 통합
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
#돗나물 -> 돌나물로 통합
df2.loc[df2["prd"]=="돗나물","prd"] = "돌나물"
#레드쉬 -> 레디쉬로 통합
df2.loc[df2["prd"]=="레드쉬","prd"] = "레디쉬"
#만가닥 -> 만가닥버섯으로 통합
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
#메 -> 메기로 통합
df2.loc[df2["prd"]=="메","prd"] = "메기"
#봄동 -> 봄동배추로 통합
df2.loc[df2["prd"]=="봄동","prd"] = "봄동배추"
#봉지굴 -> 굴로 통합
df2.loc[df2["prd"]=="봉지굴","prd"] = "굴"
#박 -> 수박으로 통합
df2.loc[df2["prd"]=="박","prd"] = "수박"
#백조 -> 조기로 통합 
df2.loc[df2["prd"]=="백조","prd"] = "조기"
#벅굴 -> 벚굴로 통합
df2.loc[df2["prd"]=="벅굴","prd"] = "벚굴"
#비 -> 비타민으로 통합
df2.loc[df2["prd"]=="비","prd"] = "비타민"
#빈스 -> 콩으로 통합
df2.loc[df2["prd"]=="빈스","prd"] = "콩"
#삐틀이 -> 고둥으로 통합
df2.loc[df2["prd"]=="삐틀이","prd"] = "고둥"
#새송이 -> 새송이버섯으로 통합
df2.loc[df2["prd"]=="새송이","prd"] = "새송이버섯"
#세트 -> 과채류로 통합
df2.loc[df2["prd"]=="세트","prd"] = "과채류"
#알 -> 알로애로 통합
df2.loc[df2["prd"]=="알","prd"] = "알로에"
#엄나무 -> 음나무로 통합
df2.loc[df2["prd"]=="엄나무","prd"] = "음나무"
#염고등어 -> 고등어로 통합
df2.loc[df2["prd"]=="염고등어","prd"] = "고등어"
#오만둥이 -> 미더덕으로 통합
df2.loc[df2["prd"]=="오만둥이","prd"] = "미더덕"
#오징어 관련 품목들 정리
df2.loc[df2["prd"]=="선동오징어","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어몸통","prd"] = "오징어"
#우렁쉥이 -> 멍게로 통합
df2.loc[df2["prd"]=="우렁쉥이","prd"] = "멍게"
#우뭇가시리 -> 우뭇가사리로 통합
df2.loc[df2["prd"]=="우뭇가시리","prd"] = "우뭇가사리"
#적채 -> 적양배추로 통합
df2.loc[df2["prd"]=="적채","prd"] = "적양배추"
#절단낙지 -> 낙지로 통합
df2.loc[df2["prd"]=="절단낙지","prd"] = "낙지"
#조 -> 조개로 통합
df2.loc[df2["prd"]=="조","prd"] = "조개"
#청어원양 -> 청어로 통합
df2.loc[df2["prd"]=="청어원양","prd"] = "청어"
#키조개꼭지 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개꼭지","prd"] = "키조개"

# 꽃게 관련 꽃게로 통합
df2.loc[df2["prd"]=="암꽃게","prd"] = "꽃게"
df2.loc[df2["prd"]=="숫꽃게","prd"] = "꽃게"
df2.loc[df2["prd"]=="꽃게살","prd"] = "꽃게"
# 우렁 -> 우렁이로 통합
df2.loc[df2["prd"]=="우렁","prd"] = "우렁이"
# 알로애 -> 알로에로 변경
df2.loc[df2["prd"]=="알로애","prd"] = "알로에"
# 피마자잎 -> 피마자로 변경
df2.loc[df2["prd"]=="피미자잎","prd"] = "피마자"
# 식용허브 -> 허브로 변경
df2.loc[df2["prd"]=="식용허브","prd"] = "허브"
# 선인장열매 -> 선인장으로 변경
df2.loc[df2["prd"]=="선인장열매","prd"] = "선인장"
# 쌈추 -> 쌈채류로 변경
df2.loc[df2["prd"]=="쌈추","prd"] = "쌈채류"
# 덟은감 -> 감으로 변경
df2.loc[df2["prd"]=="덟은감","prd"] = "감"
# 피뿔고동 -> 고둥으로 변경
df2.loc[df2["prd"]=="피뿔고동","prd"] = "고둥"
# 꼬시래 -> 꼬시래기으로 변경
df2.loc[df2["prd"]=="꼬시래","prd"] = "꼬시래기"
# 연어살 -> 연어로 변경
df2.loc[df2["prd"]=="연어살","prd"] = "연어"
# 비단멍게 -> 멍게로 변경
df2.loc[df2["prd"]=="비단멍게","prd"] = "멍게"
# 물가자미 -> 가자미로 변경
df2.loc[df2["prd"]=="물가자미","prd"] = "가자미"
# 물메 -> 메기로 변경
df2.loc[df2["prd"]=="물메","prd"] = "메기"
# 붉은메 -> 메기로 변경
df2.loc[df2["prd"]=="붉은메","prd"] = "메기"
# 조미제품 삭제
df2.drop(df2[df2['prd']=='조미제품'].index,inplace=True)
df2.drop(df2[df2['prd']=='어류원양'].index,inplace=True)
df2.drop(df2[df2['prd']=='동물'].index,inplace=True)

In [34]:
# 기존 products 리스트와 비교
ex_prd = pd.read_csv("../products.csv")
df2[~df2['prd'].isin(ex_prd['prd'])]['prd'].unique()

array(['한치', '청겨자'], dtype=object)

In [35]:
# 물품 리스트 최신화
new_prd = pd.DataFrame(df2['prd'].unique(),columns=['prd'])
# products = ex_prd.append(new_prd[~new_prd['prd'].isin(ex_prd['prd'])],ignore_index=True)
products = ex_prd.append(new_prd,ignore_index=True)

/var/folders/nq/s4zx76p53d11lnr0t1dxpxh00000gn/T/ipykernel_4062/2619460125.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products = ex_prd.append(new_prd,ignore_index=True)

In [36]:
products.drop(columns=['Unnamed: 0'],inplace=True)
products.drop_duplicates(inplace=True)
products.reset_index(inplace=True,drop=True)

In [37]:
# 다음 작업을 위해 저장
products.to_csv('../products.csv')

In [38]:
# 전체 거래량과 품목량
# 비교를 위해 분포 파악
# 거래량이 너무 적은 품목은 삭제할 필요성이 있음

prd_lst = (df2['prd'].value_counts()).to_frame()
prd_lst.describe()

               prd
count    237.00000
mean    4201.21519
std    13735.05561
min        1.00000
25%       18.00000
50%      199.00000
75%     2185.00000
max   146383.00000

In [39]:
# 50개 미만 품목은 비교가 힘드므로 삭제
# 줄어든 종류만 남기기

prd_lst = prd_lst[prd_lst['prd']>=50]
prd_lst.reset_index(inplace=True)
prd_lst = prd_lst.rename(columns = {'index':'prd','prd':'count'})

In [40]:
df3 = df2.merge(prd_lst)
df3[df3['count']>=50]['prd'].value_counts()

참외     146383
버섯      81763
오이      67687
토마토     67104
딸기      40391
        ...
가자미        65
오가피        64
갯가재        52
용과         51
수삼         51
Name: prd, Length: 152, dtype: int64

In [41]:
# 줄어든 것 확인했으므로 count column은 삭제
df3 = df3.drop(columns='count')

### scale

In [42]:
np.set_printoptions(precision=2, suppress=True)
df3['scale'].unique()

array([  5.  ,   4.5 ,   3.  ,  19.  ,   4.  ,   9.  ,   8.  ,   5.02,
         8.01,   0.6 ,   5.01,   1.5 ,  10.  ,   1.  ,   0.4 ,  20.  ,
        16.  ,  24.  ,   2.  ,  13.  ,  18.  ,  12.  ,  21.  ,  15.  ,
        17.  ,  11.  ,  14.  ,   7.  ,   6.  ,   5.7 ,   6.3 ,   2.2 ,
         2.16,   2.4 ,  25.  ,   3.6 ,   3.2 ,   2.7 ,   0.2 ,   2.5 ,
         3.5 ,   4.3 ,   2.8 ,   3.7 ,   2.3 ,   6.5 ,   3.9 ,   2.6 ,
        12.5 ,   7.7 ,   3.3 ,   1.9 ,   1.7 ,   5.2 ,   4.7 ,   5.8 ,
         2.9 ,   3.8 ,   8.5 ,   9.5 ,   5.5 ,  11.5 ,   4.2 ,  13.5 ,
         4.8 ,   3.4 ,   3.1 ,   1.6 ,   4.4 ,   7.5 ,   8.6 ,   8.8 ,
         4.6 ,   8.3 ,   5.6 ,  11.3 ,   7.9 ,   0.05,   0.25,   0.07,
         0.15,   0.5 ,   0.1 ,   0.3 ,   0.16,   0.35,  22.  ,  23.  ,
         0.8 ,   0.7 ,   0.9 ,   2.1 ,   1.8 ,   1.4 ,   5.1 , 107.  ,
        10.8 ,   7.2 ,   6.6 ,   9.2 ,   1.01,   2.01,   1.2 ,  23.4 ,
         8.9 ,  21.5 ,  22.5 ,   1.1 ,   1.3 ,   2.36,  36.  ,  27.  ,
         0.22,  29.  ,  15.01, 101.  ,  10.01,  20.01, 200.  ,  30.  ,
       100.  ,   2.52,   2.54,   2.25,  10.5 ,   7.6 ,   8.2 ,   7.3 ,
         9.3 ,  10.6 ,  11.6 ,  13.7 ,   8.4 ,  10.4 ,   8.7 ,  11.2 ,
        69.  ,  71.  ,  14.5 ,   9.6 ,   9.4 ,   6.7 ,  72.  ,  75.  ,
        64.5 ,  58.  ,  70.5 ,  74.5 ,  38.5 ,  48.5 ,  50.5 ,  75.5 ,
        78.  ,  77.  ,  76.  ,  31.5 ,  79.5 ,  71.5 ,  61.5 ,  73.5 ,
        43.  ,  73.  ,  40.  ,  47.  ,  72.5 ,  76.5 ,  78.5 ,  81.5 ,
        35.5 ,  42.5 ,  82.5 ,  65.5 ,   0.54,   1.25,   5.4 ,   6.8 ,
         0.02,   4.9 ,   0.79,  17.23,   6.4 ,  16.8 ,   0.08,   3.25])

In [43]:
df3[df3['scale']>=50]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
128196,당근,107.00000,18000,경남 김해시,normal,2022-05-23,1,168.22000
445541,오이,101.00000,9500,서울 강동구,normal,2022-05-19,1,94.06000
463914,오이,200.00000,22000,인천 강화군,normal,2022-05-31,1,110.00000
584335,참외,100.00000,22000,경북 성주군,normal,2022-05-30,1,220.00000
584337,참외,100.00000,23000,경북 성주군,normal,2022-05-30,1,230.00000
584338,참외,100.00000,23000,경북 성주군,normal,2022-05-30,1,230.00000
725346,피망,101.00000,38950,서울 송파구,certified,2022-05-19,1,385.64000
731673,피망,69.00000,220800,경남 진주시,certified,2022-05-06,2,3200.00000
732223,피망,71.00000,227200,경남 진주시,certified,2022-05-12,2,3200.00000
881362,수삼,72.00000,2688000,충남 금산군,normal,2022-05-17,3,37333.33000
881363,수삼,75.00000,2250000,충남 금산군,normal,2022-05-17,3,30000.00000
881364,수삼,72.00000,2160000,충남 금산군,normal,2022-05-17,3,30000.00000
881365,수삼,72.00000,2160000,충남 금산군,normal,2022-05-17,3,30000.00000
881366,수삼,64.50000,1548000,충남 금산군,normal,2022-05-17,3,24000.00000
881367,수삼,58.00000,1546667,충남 금산군,normal,2022-05-17,3,26666.67000
881368,수삼,70.50000,2115000,충남 금산군,normal,2022-05-20,3,30000.00000
881369,수삼,74.50000,2334333,충남 논산시,normal,2022-05-20,3,31333.33000
881371,수삼,74.50000,2235000,충남 금산군,normal,2022-05-20,3,30000.00000
881372,수삼,72.00000,2256000,충남 논산시,normal,2022-05-20,3,31333.33000
881374,수삼,50.50000,1582333,충남 논산시,normal,2022-05-20,3,31333.33000
881375,수삼,75.50000,2365667,충남 논산시,normal,2022-05-20,3,31333.34000
881376,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,3,31333.33000
881377,수삼,77.00000,2412667,충남 논산시,normal,2022-05-20,3,31333.34000
881378,수삼,76.00000,2381333,충남 논산시,normal,2022-05-20,3,31333.33000
881379,수삼,69.00000,2070000,충남 금산군,normal,2022-05-20,3,30000.00000
881381,수삼,79.50000,2491000,충남 논산시,normal,2022-05-20,3,31333.33000
881382,수삼,71.50000,2145000,충남 금산군,normal,2022-05-20,3,30000.00000
881384,수삼,71.50000,2145000,충남 금산군,normal,2022-05-23,3,30000.00000
881385,수삼,70.50000,2115000,충남 금산군,normal,2022-05-23,3,30000.00000
881386,수삼,69.00000,2070000,충남 금산군,normal,2022-05-23,3,30000.00000
881388,수삼,74.50000,2235000,충남 금산군,normal,2022-05-23,3,30000.00000
881389,수삼,61.50000,1845000,충남 금산군,normal,2022-05-26,3,30000.00000
881390,수삼,77.00000,2310000,충남 금산군,normal,2022-05-26,3,30000.00000
881391,수삼,73.50000,2205000,충남 금산군,normal,2022-05-26,3,30000.00000
881392,수삼,76.00000,2280000,충남 금산군,normal,2022-05-17,1,30000.00000
881393,수삼,75.00000,2250000,충남 금산군,normal,2022-05-17,1,30000.00000
881395,수삼,73.00000,2190000,충남 금산군,normal,2022-05-17,1,30000.00000
881396,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,1,31333.33000
881399,수삼,72.50000,2271667,충남 논산시,normal,2022-05-20,1,31333.34000
881400,수삼,75.50000,2365667,충남 논산시,normal,2022-05-20,1,31333.34000
881401,수삼,76.50000,2397000,충남 논산시,normal,2022-05-20,1,31333.33000
881402,수삼,76.50000,2397000,충남 논산시,normal,2022-05-20,1,31333.33000
881403,수삼,78.50000,2459667,충남 논산시,normal,2022-05-20,1,31333.34000
881404,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,1,31333.33000
881406,수삼,81.50000,2553667,충남 논산시,normal,2022-05-20,1,31333.34000
881409,수삼,76.50000,2754000,충남 금산군,normal,2022-05-17,9,36000.00000
881410,수삼,82.50000,2640000,충남 금산군,normal,2022-05-17,9,32000.00000
881412,수삼,65.50000,2052333,충남 논산시,normal,2022-05-20,9,31333.33000

In [44]:
# 50kg 이상 거래된 건들 이상치라 판단하고 확인 진행
df3[df3['scale']>=50]['prd'].unique()

array(['당근', '오이', '참외', '피망', '수삼'], dtype=object)

In [54]:
df3[(df3['prd']=='피망')&(df3['scale']>=50)]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
725346,피망,101.00000,38950,서울 송파구,certified,2022-05-19,1,385.64000
731673,피망,69.00000,220800,경남 진주시,certified,2022-05-06,2,3200.00000
732223,피망,71.00000,227200,경남 진주시,certified,2022-05-12,2,3200.00000

In [55]:
# 스케일 오표기된 항목 수정
# 수삼은 정상 거래
# 피망은 101kg 짜리 거래만 삭제
# 이상치 항목 삭제
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']=='당근')].index)
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']=='오이')].index)
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']=='참외')].index)
df3 = df3.drop(df3[(df3['scale']==101)&(df3['prd']=='피망')].index)

In [56]:
df3[df3['scale']>=50]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
731673,피망,69.00000,220800,경남 진주시,certified,2022-05-06,2,3200.00000
732223,피망,71.00000,227200,경남 진주시,certified,2022-05-12,2,3200.00000
881362,수삼,72.00000,2688000,충남 금산군,normal,2022-05-17,3,37333.33000
881363,수삼,75.00000,2250000,충남 금산군,normal,2022-05-17,3,30000.00000
881364,수삼,72.00000,2160000,충남 금산군,normal,2022-05-17,3,30000.00000
881365,수삼,72.00000,2160000,충남 금산군,normal,2022-05-17,3,30000.00000
881366,수삼,64.50000,1548000,충남 금산군,normal,2022-05-17,3,24000.00000
881367,수삼,58.00000,1546667,충남 금산군,normal,2022-05-17,3,26666.67000
881368,수삼,70.50000,2115000,충남 금산군,normal,2022-05-20,3,30000.00000
881369,수삼,74.50000,2334333,충남 논산시,normal,2022-05-20,3,31333.33000
881371,수삼,74.50000,2235000,충남 금산군,normal,2022-05-20,3,30000.00000
881372,수삼,72.00000,2256000,충남 논산시,normal,2022-05-20,3,31333.33000
881374,수삼,50.50000,1582333,충남 논산시,normal,2022-05-20,3,31333.33000
881375,수삼,75.50000,2365667,충남 논산시,normal,2022-05-20,3,31333.34000
881376,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,3,31333.33000
881377,수삼,77.00000,2412667,충남 논산시,normal,2022-05-20,3,31333.34000
881378,수삼,76.00000,2381333,충남 논산시,normal,2022-05-20,3,31333.33000
881379,수삼,69.00000,2070000,충남 금산군,normal,2022-05-20,3,30000.00000
881381,수삼,79.50000,2491000,충남 논산시,normal,2022-05-20,3,31333.33000
881382,수삼,71.50000,2145000,충남 금산군,normal,2022-05-20,3,30000.00000
881384,수삼,71.50000,2145000,충남 금산군,normal,2022-05-23,3,30000.00000
881385,수삼,70.50000,2115000,충남 금산군,normal,2022-05-23,3,30000.00000
881386,수삼,69.00000,2070000,충남 금산군,normal,2022-05-23,3,30000.00000
881388,수삼,74.50000,2235000,충남 금산군,normal,2022-05-23,3,30000.00000
881389,수삼,61.50000,1845000,충남 금산군,normal,2022-05-26,3,30000.00000
881390,수삼,77.00000,2310000,충남 금산군,normal,2022-05-26,3,30000.00000
881391,수삼,73.50000,2205000,충남 금산군,normal,2022-05-26,3,30000.00000
881392,수삼,76.00000,2280000,충남 금산군,normal,2022-05-17,1,30000.00000
881393,수삼,75.00000,2250000,충남 금산군,normal,2022-05-17,1,30000.00000
881395,수삼,73.00000,2190000,충남 금산군,normal,2022-05-17,1,30000.00000
881396,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,1,31333.33000
881399,수삼,72.50000,2271667,충남 논산시,normal,2022-05-20,1,31333.34000
881400,수삼,75.50000,2365667,충남 논산시,normal,2022-05-20,1,31333.34000
881401,수삼,76.50000,2397000,충남 논산시,normal,2022-05-20,1,31333.33000
881402,수삼,76.50000,2397000,충남 논산시,normal,2022-05-20,1,31333.33000
881403,수삼,78.50000,2459667,충남 논산시,normal,2022-05-20,1,31333.34000
881404,수삼,78.00000,2444000,충남 논산시,normal,2022-05-20,1,31333.33000
881406,수삼,81.50000,2553667,충남 논산시,normal,2022-05-20,1,31333.34000
881409,수삼,76.50000,2754000,충남 금산군,normal,2022-05-17,9,36000.00000
881410,수삼,82.50000,2640000,충남 금산군,normal,2022-05-17,9,32000.00000
881412,수삼,65.50000,2052333,충남 논산시,normal,2022-05-20,9,31333.33000

### origin

In [57]:
# 도,시, 국산, 수입 표기 분류 필요
df3['origin'].unique()

array(['전북 군산\t', '수입 러시아\t', '충남 장항(서천)\t', '수입 미국\t', '경남 밀양시',
       '경기도 하남시', '경기 여주시', '광주시 광산구', '전북 군산시', '경기 이천시', '경기 하남시',
       '경북 성주군', '경북 상주시', '경남 창녕군', '경남 창원시 의창구', '경남 진주시', '경기 용인시',
       '경기도 여주시 능서면', '경기 여주군', '광주 광산구', '경기도 여주시 점동면', '경남 거제시',
       '경남 고성군', '경기 안성시 일죽면', '경남 김해시', '경기 여주시 여주읍', '경기 안성시', '전북 전주시',
       '전북 임실군', '경기 양평군', '경기 광주시', '전남 나주시', '경남 창원시', '서울 강동구',
       '충남 예산군', '경남 의령군', '전남 광양시', '강원 고성군', '경남 진주시 금곡면', '충남 서산시',
       '전북 김제시', '강원 평창군', '전남 보성군', '전북 부안군', '전라북도 부안군', '경남 거창군',
       '경남 밀양시 무안면', '전남 곡성군', '강원 인제군', '충남 당진시', '경북 고령군', '전북 고창군',
       '경남 밀양시 단장면', '제주 제주시', '경북 김천시', '전북 남원시', '전남 고흥군', '충남 태안군',
       '충남 부여군', '충남 서천군', '전남 장흥군', '전북 완주군', '충남 논산시', '강원도 평창',
       '강원 횡성군', '전남 구례군', '전남 해남군', '충남 홍성군', '제주도 제주시', '경북 칠곡군',
       '충남 보령시', '경북 구미시', '강원 춘천시', '충남 공주시', '전북 고창군 신림면', '전남 무안군',
       '충남 서산시 부석면', '충북 진천군', '전북 김제시 광활면', '인천 강화군', '강원 정선군', '호주',
       '수입산 호주', '제주 서귀포시', '경북 예천군', '강원 원주시', '충남 청양군', '미국', '충남 금산군',
       '경기 광명시', '서울 중구', '충남 천안시 광덕면', '강원 철원군', '전남 여수\t', '수입 베트남\t',
       '국내산\t', '경기 포천시', '경기 구리시', '경기 남양주시', '경기 고양시', '전남 여수시',
       '경기 고양시일산구', '경기 고양시 덕양구', '경기 파주시', '경기도 고양시', '서울 송파구',
       '서울시 은평구', '전남 여수시 돌산읍', '서울 은평구', '경기도 파주시', '수입 중국\t', '충남 서산\t',
       '인천시 강화군', '전남 영암군', '경북', '충남 서산시 팔봉면', '충북 음성군', '경기도 이천시',
       '전라북도 익산시', '전북 익산시', '충북 충주시', '경북 영주시', '경기도 여주', '경남 삼천포\t',
       '전남 순천(광양)\t', '광주 남구', '경남 함안군', '경남 하동군', '성남시 중원구', '광주 서구',
       '전남 화순군', '강원 홍천군', '대전 동구', '경기 성남시', '경북 청도군', '강원 양구군',
       '경남 통영\t', '전남 완도군', '제주', '대구', '경기', '전남', '대구 달성군', '제주 남제주군',
       '경기 시흥시', '서울 중랑구', '서울 도봉구', '서울 동대문구', '서울 양천구', '경기 의왕시',
       '충북 제천시', '경북 경산시', '경기 의정부시', '전남 담양군', '충북 괴산군', '세종시', '대구 동구',
       '전남 진도군', '경북 영양군', '경기 양주시', '경기 화성시', '전남 함평군', '강원 화천군',
       '경기 양주군', '충북 영동군', '전라북도 순창군', '포항시 북구', '성남시 분당구', '경기 안산시',
       '제주시 한경면', '경기 포천군', '전북 진안군', '강원 삼척시', '경기 양평군 양동면', '경북 영덕군',
       '강원 양양군', '경기도 광주군', '경기 연천군', '경기도 김포시', '경기 의정부', '서울 강남구',
       '경기 남양주시 진건읍', '경기 김포시', '인천 계양구', '서울 강서구', '경기 남양주시 와부읍',
       '경남 남해\t', '경남 마산(고성,진해)', '경남', '경기도 광명시', '전남 나주시 공산면',
       '서울시 강서구', '광주시 남구', '부산 기장군', '경남 창원시 대산면', '부산 사상구', '부산 강서구',
       '경남 창원시 성산구', '부산 북구', '경남 양산시', '베트남', '수입산 중국', '중국', '수입산 베트남',
       '뉴질랜드', '인천 중구', '전북 부안\t', '경기 인천\t', '전북 순창군', '전남 순천시',
       '경남 남해군', '경기 안성시 고삼면', '전라남도 장성군', '전남 장성군', '전남 강진군', '전라북도 남원시',
       '전북 장수군', '전라북도 순', '전북 정읍시', '경남 밀양시 청도면', '충남 보령시 남포면',
       '경남 밀양시 상동면', '경북 청도군 금천면', '충남 보령시 웅천읍', '경남 산청군', '경남 함양군',
       '경남 양산시 하북면', '광주 북구', '수입산 칠레', '수입산 미국', '수입산 이집트', '경남 합천군',
       '경남 양산시 원동면', '충남', '부산시 북구', '충청남도 논산시', '인천시 계양구', '충남 아산시',
       '전라북도 김제시', '경기도 남양주시', '충북', '충북 청주시', '전남 해남군 북평면', '충남 태안군 원북면',
       '경기 여주시 북내면', '경북 의성군', '제주 서귀포', '제주 북제주군', '충남 공주시 계룡면',
       '제주도 서귀포시', '강원', '강원 태백시 황지동', '전남 신안군', '서울 구로구', '경북 영천시',
       '충남 논산시 양촌면', '광주 광주', '대구시 달성군', '경남 거제시 거제면', '전북', '수입산 필리핀',
       '충북 음성군 금왕읍', '필리핀', '경기 가평군', '경기 오산시', '경남 밀양시 하남읍', '울산 북구',
       '경북 경주시', '충남 논산시 가야곡면', '충남 부여군 세도면', '경기도 평택시', '경기 평택시',
       '경기 여주시 가남읍', '경기 이천시 설성면', '충남 천안시 서북구', '경기도 안성시', '충남 천안시',
       '경기 안성시 서운면', '경기 수원시', '경기도 양평군', '경북 문경시', '경북 문경시 농암면',
       '충북 청원군 미원면', '경기 평택시 고덕면', '경기 이천시 장호원읍', '경기 이천시 대월면', '경북 안동시',
       '경북 울진군', '강원도 평창군', '충남 아산시 도고면', '충북청주시상당구', '충남 아산시 배방읍',
       '청주시 흥덕구', '충북 청원군', '충북 증평군', '경기 안양시', '전남 영광군', '강원 동해시',
       '강원 영월군', '강원 강릉시', '청주시 상당구', '서귀포시 대정읍', '경남 통영시 도산면',
       '경남 통영시 광도면', '경남 사천시', '경남 통영시', '전북 무주군', '충북 영동군 학산면',
       '강원도 횡성군', '경북 김천시 농소면', '경북 김천시 부항면', '경북 김천시 조마면', '전남 담양군 월산면',
       '수입 에콰도르\t', '수입 말레이지아\t', '수입 캐나다\t', '수입 아르헨티나\t', '수입 페루\t',
       '경북 울릉도\t', '충남 연기군', '경북 고령군 다산면', '충남 부여군 규암면', '경북 청송군',
       '전라북도 정읍시', '대구시 달서구', '경남 밀양시 부북면', '경기도 포천군', '경기 고양시덕양구',
       '경북 포항시', '경기도 부천시', '경기 부천시', '서울시 양천구', '경기도 여주군', '대구 달성군 논공읍',
       '대구 달성군 화원읍', '부산시 강서구', '대구 달서구', '부산시 중구', '제주 제주시(2)',
       '제주 서귀포시(2)', '경북/문경시', '제주/서귀포', '서울 마포구', '경북 군위군', '대전 서구',
       '전주시 완산구', '대구 북구', '세종', '경기도 양주군', '강원도 철원군', '충남 논산시 강경읍',
       '경기 양주시 광적면', '경기 포천시 가산면', '경기 양주시 백석읍', '세종 특별자치시', '인천 강화군 불은면',
       '전라북도 전주시', '수입 칠레\t', '수입 기타\t', '수입 뉴질랜드\t', '경북 성주군 초전면',
       '경북 성주군 대가면', '경북 성주군 가천면', '전남 고흥(나로도)\t', '부산 오포군', '전북 고창군 부안면',
       '충북 옥천군', '부산 부산진구', '강원도 춘천', '강원도 춘천시', '경남 마산시', '강원 속초시',
       '강원도 철원', '서울 영등포', '강원도 강릉', '경기 고양시 일산동구', '인천 남구', '인천',
       '인천광역시 남구', '인천시 부평구', '인천 미추홀', '강원 철원군 김화읍', '인천 남동구', '인천 부평구',
       '경기 남양주', '칠레', '태국', '수입산 페루', '페루', '오스트레일', '대전시 동구', '오스트레일리아',
       '인천 미추홀구', '서울', '수입산 뉴질랜드', '경기도 수원시', '경남 고성군 영오면', '강원도 삼척',
       '경기 포천시 영북면', '전남 광양시 다압면', '충남 부여군 장암면', '경상남도 창원시', '광주',
       '제주 제주도\t', '수입 세네갈\t', '수입 노르웨이\t', '수입 프랑스\t', '충북 괴산군 청천면',
       '강원 태백시', '멕시코', '타이', '경북 영주시 단산면', '충남 계룡시', '광주 동구', '대구시 동구',
       '경북 봉화군', '충북 보은군', '경북 안동시 길안면', '경북 영천시 고경면', '전남 고흥군 도화면',
       '제주특별자치도 서귀', '제주 서귀포시 표선면', '제주 서귀포시 보목동', '충북 영동군 황간면',
       '전남 여수시 남면', '경남 사천시 곤명면', '전남 여수시 화양면', '경남 남해군 설천면',
       '경기 김포시 고촌면', '기타외국', '충남 논산시 성동면', '전북 익산시 망성면', '충남 논산시 연무읍',
       '경기도 시흥시', '충남 논산시 상월면', '세종 세종시', '서울시 도봉구', '전남 나주시 산포면',
       '충남 당진시 순성면', '충남 당진시 석문면', '전남 순천시 별량면', '전남 광양시 진상면',
       '전남 순천시 낙안면', '경남 하동군 금남면', '강원 홍천군 남면', '경기 이천시 모가면',
       '경기 의왕시 초평로 1', '충남 아산시 인주면', '경기 동두천시 동두천', '대전 대덕구',
       '경기 양평군 지제면', '경기 양평군 청운면', '경기도 화성군', '경북 김천시 감문면', '경기고양시일산구',
       '경기 고양시 일산', '전북전주시완산구', '수입산 태국', '수입산 멕시코', '수입산 캄보디아', '인천 서구',
       '부천시 오정구', '경기 부천시오정구', '전남 순천시 해룡면', '콜롬비아', '에콰도르', '코스타리카',
       '에쿠아도르', '에콰돌', '수입산 에콰도르', '수입산 코스타리카', '수입산 콜롬비아', '과테말라',
       '수입산 과테말라', '아르헨티나', '경북 포항시남구', '수입산 이스라엘', '강원도 횡성', '대구 중구',
       '스페인', '이스라엘', '충남 아산시 신창면', '충남 아산시 음봉면', '경기 용인시 모현면',
       '경기 안성시 양성면', '충북 단양군', '부산'], dtype=object)

In [58]:
# 해당 조건에 맞는 값 추출

splits = df3['origin'].str.split(' ')
cacul = splits.apply(lambda x: pd.Series(x))
df66 = pd.merge(df3,cacul, left_index=True, right_index=True, how='inner')
df66

,prd,scale,price,origin,eco,reg_date,new_class,price_kg,0,1,2,3
0,가자미,5.00000,6000,전북 군산\t,normal,2022-05-02,3,1200.00000,전북,군산\t,NaN,NaN
1,가자미,5.00000,6000,전북 군산\t,normal,2022-05-02,3,1200.00000,전북,군산\t,NaN,NaN
2,가자미,4.50000,19000,수입 러시아\t,normal,2022-05-02,3,4222.22000,수입,러시아\t,NaN,NaN
3,가자미,4.50000,19500,수입 러시아\t,normal,2022-05-03,3,4333.33000,수입,러시아\t,NaN,NaN
4,가자미,4.50000,19000,수입 러시아\t,normal,2022-05-03,3,4222.22000,수입,러시아\t,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
994563,콜라비,10.00000,7000,경기도 여주시 점동면,normal,2022-05-31,1,700.00000,경기도,여주시,점동면,NaN
994564,콜라비,10.00000,7000,경기도 여주시 점동면,normal,2022-05-31,1,700.00000,경기도,여주시,점동면,NaN
994565,콜라비,10.00000,7500,경기도 여주시 점동면,normal,2022-05-31,1,750.00000,경기도,여주시,점동면,NaN
994566,콜라비,10.00000,9000,경기도 여주시 점동면,normal,2022-05-31,1,900.00000,경기도,여주시,점동면,NaN
994567,콜라비,10.00000,11500,경기도 여주시 점동면,normal,2022-05-31,1,1150.00000,경기도,여주시,점동면,NaN

In [59]:
# 세부 카테고리 정리 (state, city 편집 시 여기서 시작)

df4 = df66.rename(columns = {0:'state',1:'city'})

# 2,3은 필요없는 정보이므로 삭제
df4 = df4.drop(columns=[2,3])

In [60]:
df4['state'].unique()

array(['전북', '수입', '충남', '경남', '경기도', '경기', '광주시', '경북', '광주', '전남', '서울',
       '강원', '전라북도', '제주', '강원도', '제주도', '충북', '인천', '호주', '수입산', '미국',
       '국내산\t', '서울시', '인천시', '성남시', '대전', '대구', '세종시', '포항시', '제주시',
       '부산', '베트남', '중국', '뉴질랜드', '전라남도', '부산시', '충청남도', '대구시', '필리핀',
       '울산', '충북청주시상당구', '청주시', '서귀포시', '경북/문경시', '제주/서귀포', '전주시', '세종',
       '인천광역시', '칠레', '태국', '페루', '오스트레일', '대전시', '오스트레일리아', '경상남도',
       '멕시코', '타이', '제주특별자치도', '기타외국', '경기고양시일산구', '전북전주시완산구', '부천시',
       '콜롬비아', '에콰도르', '코스타리카', '에쿠아도르', '에콰돌', '과테말라', '아르헨티나', '스페인',
       '이스라엘'], dtype=object)

In [61]:
# 시,도 제거
def name_sort(words):
  p = re.compile('[^시도]+')
  word = re.search(p,str(words))
  return word.group()

df4["state"] = df4["state"].apply(name_sort)

# 오타도 제거

def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["state"] = df4["state"].apply(name_sort2)

In [62]:
df4["state"].unique()

array(['전북', '수입', '충남', '경남', '경기', '광주', '경북', '전남', '서울', '강원', '전라북',
       '제주', '충북', '인천', '호주', '수입산', '미국', '국내산', '성남', '대전', '대구', '세종',
       '포항', '부산', '베트남', '중국', '뉴질랜드', '전라남', '충청남', '필리핀', '울산', '충북청주',
       '청주', '서귀포', '경북/문경', '제주/서귀포', '전주', '인천광역', '칠레', '태국', '페루',
       '오스트레일', '오스트레일리아', '경상남', '멕', '타이', '제주특별자치', '기타외국', '경기고양',
       '전북전주', '부천', '콜롬비아', '에콰', '코스타리카', '에쿠아', '에콰돌', '과테말라', '아르헨티나',
       '스페인', '이스라엘'], dtype=object)

In [63]:
# state
# 특이케이스 제거

# 국내
df4.loc[df4["state"]=="국내산","city"] = "미상"
df4.loc[df4["state"]=="국내산","state"] = "국산"
df4.loc[df4["state"]=="원양산","city"] = "미상"

## 도단위
df4.loc[df4["state"]=="충청북","state"] = "충북"
df4.loc[df4["state"]=="충청남","state"] = "충남"
df4.loc[df4["state"]=="전라북","state"] = "전북"
df4.loc[df4["state"]=="전라남","state"] = "전남"
df4.loc[df4["state"]=="경상북","state"] = "경북"
df4.loc[df4["state"]=="경상남","state"] = "경남"

## 시단위
### 광역시

df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="대구","city"] = "대구"
df4.loc[df4["state"]=="서울특별","city"] = "서울"
df4.loc[df4["state"]=="서울특별","state"] = "서울"
df4.loc[df4["state"]=="인천광역","city"] = "인천"
df4.loc[df4["state"]=="인천광역","state"] = "인천"
df4.loc[df4["state"]=="부산","city"] = "부산"
df4.loc[df4["state"]=="부산광역","city"] = "부산"
df4.loc[df4["state"]=="부산광역","state"] = "부산"
df4.loc[df4["state"]=="가락동","city"] = "서울"
df4.loc[df4["state"]=="가락동","state"] = "서울"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="세종특별자치","city"] = "세종"
df4.loc[df4["state"]=="세종특별자치","state"] = "세종"
df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="제주","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","state"] = "제주"
df4.loc[df4["state"]=="제주특별자","city"] = "제주"
df4.loc[df4["state"]=="제주특별자","state"] = "제주"
df4.loc[df4["state"]=="제주/서귀포","city"] = "제주"
df4.loc[df4["state"]=="제주/서귀포","state"] = "제주"
df4.loc[df4["state"]=="서귀포","city"] = "제주"
df4.loc[df4["state"]=="서귀포","state"] = "제주"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="울산","city"] = "울산"
df4.loc[df4["state"]=="울산","state"] = "울산"

### 일반시
df4.loc[df4["state"]=="성남","city"] = "성남"
df4.loc[df4["state"]=="성남","state"] = "경기"
df4.loc[df4["state"]=="전주","city"] = "전주"
df4.loc[df4["state"]=="전주","state"] = "전북"
df4.loc[df4["state"]=="청주","city"] = "청주"
df4.loc[df4["state"]=="청주","state"] = "충북"
df4.loc[df4["state"]=="수원","city"] = "수원"
df4.loc[df4["state"]=="수원","state"] = "경기"
df4.loc[df4["state"]=="부천","city"] = "부천"
df4.loc[df4["state"]=="부천","state"] = "경기"
df4.loc[df4["state"]=="경기고양","city"] = "고양"
df4.loc[df4["state"]=="경기고양","state"] = "경기"
df4.loc[df4["state"]=="충북청주","city"] = "청주"
df4.loc[df4["state"]=="충북청주","state"] = "충북"
df4.loc[df4["state"]=="전북전주","city"] = "전주"
df4.loc[df4["state"]=="전북전주","state"] = "전북"
df4.loc[df4["state"]=="경북/문경","city"] = "문경"
df4.loc[df4["state"]=="경북/문경","state"] = "경북"
df4.loc[df4["state"]=="포항","city"] = "포항"
df4.loc[df4["state"]=="포항","state"] = "경북"
df4.loc[df4["state"]=="경북/안동","city"] = "안동"
df4.loc[df4["state"]=="경북/안동","state"] = "경북"
df4.loc[df4["state"]=="전남/무안군","city"] = "전남"
df4.loc[df4["state"]=="전남/무안군","state"] = "무안"
df4.loc[df4["state"]=="경북/구미","city"] = "구미"
df4.loc[df4["state"]=="경북/구미","state"] = "경북"
df4.loc[df4["state"]=="경북/상주","city"] = "상주"
df4.loc[df4["state"]=="경북/상주","state"] = "경북"
df4.loc[df4["state"]=="경북/영천","city"] = "영천"
df4.loc[df4["state"]=="경북/영천","state"] = "경북"
df4.loc[df4["state"]=="경남/합천군","city"] = "합천"
df4.loc[df4["state"]=="경남/합천군","state"] = "경남"
df4.loc[df4["state"]=="전남/고흥군","city"] = "고흥"
df4.loc[df4["state"]=="전남/고흥군","state"] = "전남"
df4.loc[df4["state"]=="무안","state"] = "전남"
df4.loc[df4["state"]=="서해안","city"] = "미상"
df4.loc[df4["state"]=="서해안","state"] = "국산"
df4.loc[df4["state"]=="남해안","city"] = "미상"
df4.loc[df4["state"]=="남해안","state"] = "국산"


# 외국
## 아시아
df4.loc[df4["state"]=="칠레","city"] = "칠레"
df4.loc[df4["state"]=="칠레","state"] = "수입"
df4.loc[df4["state"]=="일본","city"] = "일본"
df4.loc[df4["state"]=="일본","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="우즈베크","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베크","state"] = "수입"
df4.loc[df4["state"]=="이스라엘","city"] = "이스라엘"
df4.loc[df4["state"]=="이스라엘","state"] = "수입"
df4.loc[df4["state"]=="터키","city"] = "터키"
df4.loc[df4["state"]=="터키","state"] = "수입"
df4.loc[df4["state"]=="중국","city"] = "중국"
df4.loc[df4["state"]=="중국","state"] = "수입"
df4.loc[df4["state"]=="타이","city"] = "태국"
df4.loc[df4["state"]=="타이","state"] = "수입"
df4.loc[df4["state"]=="태국","city"] = "태국"
df4.loc[df4["state"]=="태국","state"] = "수입"
df4.loc[df4["state"]=="필리핀","city"] = "필리핀"
df4.loc[df4["state"]=="필리핀","state"] = "수입"
df4.loc[df4["state"]=="우즈베키스탄","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베키스탄","state"] = "수입"
df4.loc[df4["state"]=="대만","city"] = "대만"
df4.loc[df4["state"]=="대만","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="이란","city"] = "이란"
df4.loc[df4["state"]=="이란","state"] = "수입"
df4.loc[df4["state"]=="러","city"] = "러시아"
df4.loc[df4["state"]=="러","state"] = "수입"
df4.loc[df4["state"]=="캄보디아","city"] = "캄보디아"
df4.loc[df4["state"]=="캄보디아","state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"city"] = "인도네시아"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"city"] = "인도"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"state"] = "수입"

## 아메리카

df4.loc[df4["state"]=="캘리포니아","city"] = "미국"
df4.loc[df4["state"]=="캘리포니아","state"] = "수입"
df4.loc[df4["state"]=="포클랜드","city"] = "영국"
df4.loc[df4["state"]=="포클랜드","state"] = "수입"
df4.loc[df4["state"]=="콜롬비아","city"] = "콜롬비아"
df4.loc[df4["state"]=="콜롬비아","state"] = "수입"
df4.loc[df4["state"]=="에콰","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰","state"] = "수입"
df4.loc[df4["state"]=="에쿠아","city"] = "에콰도르"
df4.loc[df4["state"]=="에쿠아","state"] = "수입"
df4.loc[df4["state"]=="에콰돌","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰돌","state"] = "수입"
df4.loc[df4["state"]=="과테말라","city"] = "과테말라"
df4.loc[df4["state"]=="과테말라","state"] = "수입"
df4.loc[df4["state"]=="코스타리카","city"] = "코스타리카"
df4.loc[df4["state"]=="코스타리카","state"] = "수입"
df4.loc[df4["state"]=="멕","city"] = "멕시코"
df4.loc[df4["state"]=="멕","state"] = "수입"
df4.loc[df4["state"]=="페루","city"] = "페루"
df4.loc[df4["state"]=="페루","state"] = "수입"
df4.loc[df4["state"]=="미국","city"] = "미국"
df4.loc[df4["state"]=="미국","state"] = "수입"
df4.loc[df4["state"]=="아르헨티나","city"] = "아르헨티나"
df4.loc[df4["state"]=="아르헨티나","state"] = "수입"
df4.loc[df4["state"]=="브라질","city"] = "브라질"
df4.loc[df4["state"]=="브라질","state"] = "수입"

## 유럽
df4.loc[df4["state"]=="스페인","city"] = "스페인"
df4.loc[df4["state"]=="스페인","state"] = "수입"
df4.loc[df4["state"]=="우크라이나","city"] = "우크라이나"
df4.loc[df4["state"]=="우크라이나","state"] = "수입"
df4.loc[df4["state"]=="이탈리아","city"] = "이탈리아"
df4.loc[df4["state"]=="이탈리아","state"] = "수입"
df4.loc[df4["state"]=="불가리아","city"] = "불가리아"
df4.loc[df4["state"]=="불가리아","state"] = "수입"
df4.loc[df4["state"]=="그리스","city"] = "그리스"
df4.loc[df4["state"]=="그리스","state"] = "수입"

## 아프리카
df4.loc[df4["state"]=="남아프리카","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카","state"] = "수입"
df4.loc[df4["state"]=="남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카공화국","state"] = "수입"
df4.loc[df4["state"]=="수입남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="수입남아프리카공화국","state"] = "수입"


## 오세아니아
df4.loc[df4["state"]=="뉴질랜드","city"] = "뉴질랜드"
df4.loc[df4["state"]=="뉴질랜드","state"] = "수입"
df4.loc[df4["state"]=="오스트레일","city"] = "호주"
df4.loc[df4["state"]=="오스트레일","state"] = "수입"
df4.loc[df4["state"]=="오스트레일리아","city"] = "호주"
df4.loc[df4["state"]=="오스트레일리아","state"] = "수입"
df4.loc[df4["state"]=="호주","city"] = "호주"
df4.loc[df4["state"]=="호주","state"] = "수입"
df4.loc[df4["state"]=="통가","city"] = "통가"
df4.loc[df4["state"]=="통가","state"] = "수입"
df4.loc[df4["state"]=="뉴칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴칼레","state"] = "수입"
df4.loc[df4["state"]=="뉴","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴","state"] = "수입"
df4.loc[df4["state"]=="누벨칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="누벨칼레","state"] = "수입"
# 기타
df4.loc[df4["state"]=="수입산","state"] = "수입"
df4.loc[df4["state"]=="기타외국","city"] = "미상"
df4.loc[df4["state"]=="기타외국","state"] = "수입"
df4.drop(df4[df4["state"]=="미등록"].index,inplace=True)

In [64]:
df4['state'].unique()

array(['전북', '수입', '충남', '경남', '경기', '광주', '경북', '전남', '서울', '강원', '제주',
       '충북', '인천', '국산', '대전', '대구', '세종', '부산', '울산'], dtype=object)

In [65]:
# city
# 우선 결측치 제거
df4.loc[df4["city"].isnull(),"city"] = "미상"

In [66]:
# 이후 시,군 등 제거
def name_sort(words):
  p = re.compile('[^시군]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort)

In [67]:
# \t 도 제거
def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort2)

In [68]:
df4['city'].unique()

array(['산', '러', '장항(서천)', '미국', '밀양', '하남', '여주', '광산구', '이천', '성주',
       '상주', '창녕', '창원', '진주', '용인', '거제', '고성', '안성', '김해', '전주', '임실',
       '양평', '광주', '나주', '강동구', '예산', '의령', '광양', '서산', '김제', '평창', '보성',
       '부안', '거창', '곡성', '인제', '당진', '고령', '고창', '제주', '김천', '남원', '고흥',
       '태안', '부여', '서천', '장흥', '완주', '논산', '횡성', '구례', '해남', '홍성', '칠곡',
       '보령', '구미', '춘천', '공주', '무안', '진천', '강화', '정선', '호주', '예천', '원주',
       '청양', '금산', '광명', '중구', '천안', '철원', '여수', '베트남', '미상', '포천', '구리',
       '남양주', '고양', '파주', '송파구', '은평구', '중국', '영암', '음성', '익산', '충주',
       '영주', '삼천포', '순천(광양)', '남구', '함안', '하동', '성남', '서구', '화순', '홍천',
       '대전', '청도', '양구', '통영', '완도', '대구', '흥', '중랑구', '도봉구', '동대문구',
       '양천구', '의왕', '제천', '경산', '의정부', '담양', '괴산', '세종', '진도', '영양', '양주',
       '화성', '함평', '화천', '영동', '순창', '포항', '안산', '진안', '삼척', '영덕', '양양',
       '연천', '김포', '강남구', '계양구', '강서구', '남해', '마산(고성,진해)', '부산', '양산',
       '뉴질랜드', '인천', '순천', '장성', '강진', '장수', '순', '정읍', '산청', '함양', '북구',
       '칠레', '이집트', '합천', '아산', '청주', '의성', '태백', '신안', '구로구', '영천',
       '필리핀', '가평', '오산', '울산', '경주', '평택', '수원', '문경', '청원', '안동', '울진',
       '증평', '안양', '영광', '동해', '영월', '강릉', '사천', '무주', '에콰도르', '말레이지아',
       '캐나다', '아르헨티나', '페루', '울릉도', '연기', '청송', '부천', '마포구', '위', '기타',
       '고흥(나로도)', '옥천', '마산', '속초', '영등포', '부평구', '미추홀', '남동구', '태국',
       '미추홀구', '세네갈', '노르웨이', '프랑스', '멕', '계룡', '동구', '봉화', '보은', '동두천',
       '캄보디아', '콜롬비아', '코스타리카', '과테말라', '이스라엘', '스페인', '단양'], dtype=object)

In [69]:
# 나머지 케이스 정리

# 국내
df4.loc[df4["city"]=="기타","city"] = "미상"
## 일반시
df4.loc[df4["city"]=="위","city"] = "군위"
df4.loc[df4["city"]=="고흥(나로도)","city"] = "고흥"
df4.loc[df4["city"]=="산","city"] = "군산"
df4.loc[df4["city"]=="장항(서천)","city"] = "서천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="순천(광양)","city"] = "순천"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="화성(평택)","city"] = "화성"
df4.loc[df4["city"]=="흥","city"] = "시흥"
df4.loc[df4["city"]=="목포(무안)","city"] = "목포"
df4.loc[df4["city"]=="목포(무안)","state"] = "전남"
df4.loc[df4["city"]=="보성(벌교)","city"] = "보성"
df4.loc[df4["city"]=="울진(후포)","city"] = "울진"
df4.loc[df4["city"]=="논","city"] = "논산"
df4.loc[df4["city"]=="논","city"] = "논산"
df4.loc[df4["city"]=="순","city"] = "순창"
df4.loc[df4["city"]=="익","city"] = "익산"
df4.loc[df4["city"]=="미금","city"] = "성남"
df4.loc[df4["city"]=="주문진","city"] = "강릉"
df4.loc[df4["city"]=="울릉도","city"] = "울릉"
df4.loc[df4["city"]=="거제(장승포)","city"] = "거제"
df4.loc[(df4["city"]=="완")&(df4["state"]=="전북"),"city"] = "완주"
df4.loc[(df4["state"]=="전북")&(df4["city"]=="남"),"city"] = "남원"
df4.loc[(df4['prd']=="호박") & (df4['state']=='전북'),"city"] = "전주"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="신"),"city"] = "신안"
df4.loc[(df4["state"]=="전북")&(df4["city"]=="장"),"city"] = "장수"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="진"),"city"] = "진도"
df4.loc[(df4["state"]=="충남")&(df4["city"]=="부"),"city"] = "부여"
df4.loc[(df4["state"]=="경남")&(df4["city"]=="의"),"city"] = "의령"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="함"),"city"] = "함평"
# 전라남도 장 -> 장흥, 장성 두개 있으므로 구분 불가, 삭제
df4.drop(df4[(df4["city"]=="장")&(df4["state"]=="전남")].index,inplace=True)

## 광역시
df4.loc[df4["city"]=="강서구","city"] = "서울"
df4.loc[df4["city"]=="은평구","city"] = "서울"
df4.loc[df4["city"]=="강동구","city"] = "서울"
df4.loc[df4["city"]=="마포구","city"] = "서울"
df4.loc[df4["city"]=="중구","city"] = "서울"
df4.loc[df4["city"]=="송파구","city"] = "서울"
df4.loc[df4["city"]=="도봉구","city"] = "서울"
df4.loc[df4["city"]=="중랑구","city"] = "서울"
df4.loc[df4["city"]=="양천구","city"] = "서울"
df4.loc[df4["city"]=="성동구","city"] = "서울"
df4.loc[df4["city"]=="강남구","city"] = "서울"
df4.loc[df4["city"]=="동대문구","city"] = "서울"
df4.loc[df4["city"]=="영등포구","city"] = "서울"
df4.loc[df4["city"]=="영등포","city"] = "서울"
df4.loc[df4["city"]=="서초구","city"] = "서울"
df4.loc[df4["city"]=="구로구","city"] = "서울"
df4.loc[df4["city"]=="동대문","city"] = "서울"
df4.loc[df4["city"]=="금천구","city"] = "서울"
df4.loc[df4["city"]=="동작구","city"] = "서울"
df4.loc[df4["city"]=="용산구","city"] = "서울"
df4.loc[df4["city"]=="광진구","city"] = "서울"
df4.loc[df4["city"]=="종로구","city"] = "서울"

df4.loc[df4["city"]=="광산구","city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="남구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="북구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="서구"),"city"] = "광주"
df4.loc[df4["city"]=="동구","city"] = "광주"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="남구"),"city"] = "인천"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="서구"),"city"] = "인천"
df4.loc[df4["city"]=="미추홀","city"] = "인천"
df4.loc[df4["city"]=="부평구","city"] = "인천"
df4.loc[df4["city"]=="남동구","city"] = "인천"
df4.loc[df4["city"]=="미추홀구","city"] = "인천"
df4.loc[df4["city"]=="계양구","city"] = "인천"
df4.loc[df4["city"]=="마산(고성,진해)","city"] = "창원"
df4.loc[(df4["state"]=="부산")&(df4["city"]=="북구"),"city"] = "부산"
df4.loc[df4["city"]=="오포","city"] = "부산"
df4.loc[df4["city"]=="부산진","city"] = "부산"
df4.loc[df4["city"]=="사상구","city"] = "부산"
df4.loc[df4["city"]=="부산진구","city"] = "부산"
df4.loc[df4["city"]=="북제주","city"] = "제주"
df4.loc[df4["city"]=="남제주","city"] = "제주"

# 해외
## 아시아
df4.loc[df4["city"]=="러","city"] = "러시아"
df4.loc[df4["city"]=="말레이지아","city"] = "말레이시아"
df4.loc[df4["city"]=="타이","city"] = "태국"
df4.loc[df4["city"]=="인도네","city"] = "인도네시아"
df4.loc[df4["city"]=="사우디","city"] = "사우디아라비아"
## 아메리카
df4.loc[df4["city"]=="멕","city"] = "멕시코"
## 아프리카
df4.loc[df4["city"]=="남아공산","city"] = "남아공"
## 유럽
## 오세아니아

In [70]:
# 기존 city 리스트와 비교
ex_city = pd.read_csv("../cities.csv")
df4[~df4['city'].isin(ex_city['city'])]['city'].unique()

array(['프랑스'], dtype=object)

In [71]:
# 리스트 최신화
new_city = pd.DataFrame(df4['city'].unique(),columns=['city'])
cities = ex_city.append(new_city,ignore_index=True)

/var/folders/nq/s4zx76p53d11lnr0t1dxpxh00000gn/T/ipykernel_4062/1856950528.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cities = ex_city.append(new_city,ignore_index=True)

In [72]:
cities.drop(columns=['Unnamed: 0'],inplace=True)
cities.drop_duplicates(inplace=True)
cities.reset_index(inplace=True,drop=True)

In [73]:
cities.to_csv('../cities.csv')

In [74]:
# 처리 완료하였으니 df4는 백업으로 두고 df5 활용
df5 = df4.drop(columns='origin')

# 전처리 결과

# 파일 저장

In [75]:
df5.to_csv('../data_proceed/202205_proceed.csv')