# 개요

# Prepare

# 1. 초기 세팅

## Library & data load

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# 처리용 df와 오리지널 버전 남겨놓음
df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202203.csv",encoding='euc_kr')
org_df = pd.read_csv("/Users/luci031/Downloads/auction/data_origin/auction_202203.csv",encoding='euc_kr')

# Pre-Processing

## Basic info

In [3]:
df.head()

            품목명     단위      등급     가격        산지 친환경구분       입력일
0          [갓]갓   10kg   특(1등)  30000    전남 무안군    일반  20220301
1  [가자미수입]가자미수입  4.5kg  보통(3등)  15300  수입 러시아\t    일반  20220301
2  [가자미수입]가자미수입  4.5kg  보통(3등)  15300  수입 러시아\t    일반  20220301
3  [가자미수입]가자미수입  4.5kg  보통(3등)  15300  수입 러시아\t    일반  20220301
4  [가자미수입]가자미수입  4.5kg  보통(3등)  15500  수입 러시아\t    일반  20220301

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976270 entries, 0 to 976269
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   품목명     976270 non-null  object
 1   단위      976270 non-null  object
 2   등급      976270 non-null  object
 3   가격      976270 non-null  int64
 4   산지      975330 non-null  object
 5   친환경구분   976270 non-null  object
 6   입력일     976270 non-null  int64
dtypes: int64(2), object(5)
memory usage: 52.1+ MB

In [5]:
# 산지 제외하고는 결측치 없는 것으로 확인
df.isnull().sum()

품목명        0
단위         0
등급         0
가격         0
산지       940
친환경구분      0
입력일        0
dtype: int64

- 결측치 처리

In [6]:
###
# 양이 많지 않으므로 결측치 제거
df = df.dropna(axis=0)

- 영문명으로 전환

In [7]:
df = df.rename(columns = {'품목명':'prd',
                          '단위':'scale','등급':'class',
                          '가격':'price',
                          '산지':'origin',
                          '친환경구분':'eco',
                          '입력일':'reg_date'})

## column 별 정보

### class

In [8]:
# 이름 모두 영어로 변경
# 9등과 없음 모두 9로 변경
df['class'].value_counts().index

Index(['특(1등)', '상(2등)', '보통(3등)', '9등(등외)', '없음', '5등', '4등', '6등', '7등',
       '8등'],
      dtype='object')

In [9]:
df111 = pd.DataFrame([['특(1등)', 1], ['상(2등)',2], ['보통(3등)',3], ['9등(등외)',9], ['없음',9], ['5등',5], ['4등',4], ['6등',6], ['7등',7],['8등',8]],columns=['class','new_class'])

In [10]:
df2 = df.merge(df111)
df2 = df2.drop(columns='class')

In [11]:
df2

                  prd  scale  price  origin eco  reg_date  new_class
0                [갓]갓   10kg  30000  전남 무안군  일반  20220301          1
1          [가지]가지(일반)    5kg  16000  광주 광산구  일반  20220301          1
2          [가지]가지(일반)    5kg  16000  광주 광산구  일반  20220301          1
3       [고구마]고구마(호박밤)   10kg  19000  경기 여주시  일반  20220301          1
4            [기타양채]케일    2kg   3700  경기 성남시  일반  20220301          1
...               ...    ...    ...     ...  ..       ...        ...
975325   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  일반  20220331          7
975326   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  일반  20220331          7
975327   [오이]오이(백다다기)   18kg  19000  경기 평택시  일반  20220331          7
975328   [오이]오이(백다다기)   18kg  26000  경기 평택시  일반  20220331          7
975329     [토마토]대저토마토  2.5kg  10000  경남 김해시  일반  20220331          7

[975330 rows x 7 columns]

### eco

In [12]:
# 영문명으로 전환
# 전환기 -> 유기농 재배로 전환중
df2.loc[df2["eco"]=="일반","eco"] = "normal"
df2.loc[df2["eco"]=="우수농산물","eco"] = "good_prd"
df2.loc[df2["eco"]=="무농약","eco"] = "ecofriendly"
df2.loc[df2["eco"]=="유기농","eco"] = "organic"
df2.loc[df2["eco"]=="품질인증","eco"] = "certified"
df2.loc[df2["eco"]=="전환기","eco"] = "ing"

In [13]:
df2

                  prd  scale  price  origin     eco  reg_date  new_class
0                [갓]갓   10kg  30000  전남 무안군  normal  20220301          1
1          [가지]가지(일반)    5kg  16000  광주 광산구  normal  20220301          1
2          [가지]가지(일반)    5kg  16000  광주 광산구  normal  20220301          1
3       [고구마]고구마(호박밤)   10kg  19000  경기 여주시  normal  20220301          1
4            [기타양채]케일    2kg   3700  경기 성남시  normal  20220301          1
...               ...    ...    ...     ...     ...       ...        ...
975325   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  normal  20220331          7
975326   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  normal  20220331          7
975327   [오이]오이(백다다기)   18kg  19000  경기 평택시  normal  20220331          7
975328   [오이]오이(백다다기)   18kg  26000  경기 평택시  normal  20220331          7
975329     [토마토]대저토마토  2.5kg  10000  경남 김해시  normal  20220331          7

[975330 rows x 7 columns]

### reg_date

In [14]:
df2['reg_date'] = df2['reg_date'].astype('str')

In [15]:
df2['reg_date'] = pd.to_datetime(df2['reg_date'].astype('str'),format='%Y%m%d')

In [16]:
df2

                  prd  scale  price  origin     eco   reg_date  new_class
0                [갓]갓   10kg  30000  전남 무안군  normal 2022-03-01          1
1          [가지]가지(일반)    5kg  16000  광주 광산구  normal 2022-03-01          1
2          [가지]가지(일반)    5kg  16000  광주 광산구  normal 2022-03-01          1
3       [고구마]고구마(호박밤)   10kg  19000  경기 여주시  normal 2022-03-01          1
4            [기타양채]케일    2kg   3700  경기 성남시  normal 2022-03-01          1
...               ...    ...    ...     ...     ...        ...        ...
975325   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  normal 2022-03-31          7
975326   [토마토]토마토(기타)  2.5kg   6000  부산 강서구  normal 2022-03-31          7
975327   [오이]오이(백다다기)   18kg  19000  경기 평택시  normal 2022-03-31          7
975328   [오이]오이(백다다기)   18kg  26000  경기 평택시  normal 2022-03-31          7
975329     [토마토]대저토마토  2.5kg  10000  경남 김해시  normal 2022-03-31          7

[975330 rows x 7 columns]

### price

In [17]:
# 계산을 위해 scale 값 미리 변경
# 현재 값들은 string이므로 float 형태로 변환할 필요가 있음
# 몇몇 이상치 처리도 진행
def scale_checker(scale):
  if scale.startswith('.')==True:
    return format(float('0'+scale[:-2]),'.2f')
  else:
    return format(float((scale[:-2])),'.2f')
df2['scale'] = df2['scale'].apply(scale_checker)
df2['scale'] = df2['scale'].astype('float')
# df2['scale'] = format(round(df2['scale'].apply(pd.to_numeric),2),'.2f')

In [18]:
df2['scale'].unique()

array([1.000e+01, 5.000e+00, 2.000e+00, 1.300e+01, 1.350e+01, 8.000e+00,
       3.000e-01, 3.000e+00, 1.000e+00, 1.500e+01, 1.600e+00, 1.500e+00,
       5.000e-01, 2.700e+00, 1.200e+01, 7.000e+00, 1.400e+01, 4.000e+00,
       6.000e-01, 3.500e+00, 2.000e+01, 7.000e-01, 9.000e-01, 9.000e+00,
       2.500e+00, 2.400e+01, 1.200e+00, 1.600e+01, 1.700e+01, 6.000e+00,
       1.800e+01, 1.900e+01, 2.000e-01, 3.600e+00, 1.100e+01, 2.100e+01,
       1.000e-01, 4.000e-01, 4.500e+00, 8.000e-01, 5.600e+00, 5.500e+00,
       3.300e+00, 2.500e-01, 8.000e-02, 7.500e+00, 3.700e+00, 9.500e+00,
       8.500e+00, 6.000e-02, 1.500e-01, 1.300e+00, 8.400e+00, 5.000e-02,
       5.010e+00, 6.500e+00, 1.050e+01, 1.150e+01, 5.400e+00, 8.200e+00,
       7.300e+00, 8.250e+00, 1.800e+00, 5.200e+00, 4.200e+00, 2.200e+01,
       2.070e+01, 2.250e+01, 1.530e+01, 1.000e-02, 3.800e-01, 2.300e+01,
       3.400e+00, 2.600e+00, 4.700e+00, 5.700e+00, 5.300e+00, 3.800e+00,
       2.800e+00, 1.250e+01, 4.800e+00, 3.600e-01, 4.300e+00, 2.100e+00,
       6.700e+00, 7.500e-01, 1.400e+00, 7.500e+01, 9.600e+00, 1.801e+01,
       1.260e+01, 1.200e-01, 1.600e-01, 8.450e+01, 3.250e+01, 8.500e+01,
       8.950e+01, 8.000e+01, 8.200e+01, 8.250e+01, 8.100e+01, 7.650e+01,
       7.750e+01, 5.800e+01, 6.500e+01, 2.800e+01, 1.060e+01, 7.400e+00,
       6.900e+00, 4.600e+00, 3.900e+00, 3.200e+00, 3.300e-01, 1.010e+00,
       7.200e+01, 2.500e+01, 3.100e+00, 2.300e+00, 2.010e+00, 8.010e+00,
       6.800e+00, 1.330e+01, 1.620e+01, 1.750e+01, 6.600e+00, 2.900e+00,
       3.000e-02, 5.500e+01, 2.600e+01, 8.900e+00, 6.200e+00, 5.800e+00,
       7.600e+00, 8.600e+00, 0.000e+00, 8.800e+00, 1.700e+00, 1.120e+01,
       2.700e+01, 1.001e+01, 1.030e+01, 7.700e+00, 1.900e+00, 1.100e+00,
       8.300e+00, 6.400e+00, 2.400e+00, 1.152e+01, 4.400e+00, 5.600e-01,
       7.700e+01, 2.200e+00, 1.002e+01, 1.501e+01, 1.040e+01, 5.100e+00,
       1.160e+01, 7.800e+00, 4.900e+00, 1.020e+01, 1.870e+01, 1.480e+01,
       7.200e+00, 1.080e+01, 1.070e+01, 9.800e+00, 8.320e+00, 1.550e+01,
       1.130e+01, 2.150e+01, 1.350e+00, 9.070e+00, 7.000e-02, 1.450e+01,
       4.540e+00, 2.900e+01, 3.540e+00, 9.400e+00, 1.820e+01, 1.440e+01,
       2.154e+01, 1.650e+01, 1.970e+01, 7.850e+01, 7.350e+01, 7.450e+01,
       7.900e+01, 6.750e+01, 6.800e+01, 6.850e+01, 7.600e+01, 7.550e+01,
       7.000e+01, 7.150e+01, 2.730e+00, 2.780e+00, 9.800e-01, 1.380e+01,
       1.770e+01, 9.900e+00, 3.150e+01, 3.900e+01, 4.100e+01, 1.890e+01,
       3.750e+01, 3.500e+01, 4.000e+01, 3.600e+01, 8.300e+01, 5.750e+01,
       1.010e+02])

In [19]:
# 1원짜리 거래 발견, 너무 거래값이 작은 값들은 삭제
pd.options.display.float_format = '{:.5f}'.format
df2['price'].describe()

count     975330.00000
mean       23929.59792
std       141983.72191
min            7.00000
25%         8500.00000
50%        15500.00000
75%        30000.00000
max     99999999.00000
Name: price, dtype: float64

In [20]:
df2 = df2.drop(df2[df2['price']<500].index)

In [21]:
df2

                  prd    scale  price  origin     eco   reg_date  new_class
0                [갓]갓 10.00000  30000  전남 무안군  normal 2022-03-01          1
1          [가지]가지(일반)  5.00000  16000  광주 광산구  normal 2022-03-01          1
2          [가지]가지(일반)  5.00000  16000  광주 광산구  normal 2022-03-01          1
3       [고구마]고구마(호박밤) 10.00000  19000  경기 여주시  normal 2022-03-01          1
4            [기타양채]케일  2.00000   3700  경기 성남시  normal 2022-03-01          1
...               ...      ...    ...     ...     ...        ...        ...
975325   [토마토]토마토(기타)  2.50000   6000  부산 강서구  normal 2022-03-31          7
975326   [토마토]토마토(기타)  2.50000   6000  부산 강서구  normal 2022-03-31          7
975327   [오이]오이(백다다기) 18.00000  19000  경기 평택시  normal 2022-03-31          7
975328   [오이]오이(백다다기) 18.00000  26000  경기 평택시  normal 2022-03-31          7
975329     [토마토]대저토마토  2.50000  10000  경남 김해시  normal 2022-03-31          7

[974688 rows x 7 columns]

In [22]:
# kg 당 가격 생성

df2['price_kg'] = round((df2['price']/df2['scale']),2)

### prd
- 품목명 정리
- 품목 종류 정리

In [23]:
# 대부분 [상품 종류]상품명 으로 정리되어 있는걸 알 수 있음
df2['prd'].value_counts()

[딸기]설향              56874
[딸기]설향(딸기)          43344
[오이]백다다기            29926
[참외]참외              22620
[깻잎]깻잎              18077
                    ...
[키조개꼭지국산]키조개꼭지국산        1
[중하국산]중하국산              1
[두릅]자연산(참두릅)            1
[삼나물]눈개승마               1
[더덕]더덕(더덕)              1
Name: prd, Length: 1226, dtype: int64

In [24]:
# 정리를 위해 상품명 삭제
def prd_sort(words):
  p = re.compile('[ㄱ-힣]+')
  word = re.search(p,words)
  return word.group()

df2['prd'] = df2['prd'].apply(prd_sort)

In [25]:
# 기타 품목 삭제
df2 = df2.drop(df2[df2['prd']=='기타'].index)

In [26]:
# 국산,수입산,깐,기타 삭제
def prd_sort2(words):
  p = re.compile('[^국산수입깐기타]+')
  word = re.search(p,str(words))
  return word.group()

df2["prd"] = df2["prd"].apply(prd_sort2)

In [27]:
# 몇몇 품목들 정리가 필요
a = sorted(df2['prd'].unique())
for i in range(len(a)):
  if i%15 != 0:
    print(a[i],end=' ')
  else:
    print(a[i],end=' ')
    print()

가리비
가물치 가오리 가오리채 가자미 가지 각굴 갈치 감 감귤 감자 갑오징어 갑오징어살 갓 개조개 갯가재
건고추 건채류 게 게지 겨자 고 고구마 고둥 고들빼 고등어 고사리 고추 고추잎 곤달비 곤드레나물
골뱅이 곶감 과실류 과일 과일류 굴 귤 그레이프푸룻 근대 근채류 금감 김 깻잎 꼬막 꼴뚜
꽁치 꽈리고추 낙지 날치알 냉이 논우렁이 눈볼대 느 다래 단감 달래 당귀 당근 대구 대구머리
대추 대파 더덕 도라지 돗나물 동자개 동죽 두류 두릅 두리안 딸 땅콩 라임 람부탄 레몬
로케트 리치 마 마늘 만가닥 만감 맛 망고 매생이 머위대 메 메론 명이나물 명태 명태곤니
명태알 명태포 모시조개 모자반 무 무순 무우 무화과 문어 문어바지락 미꾸라지 미나리 미더덕 미역 민들레
민물새우 바나나 바지락 박 밤 방울토마토 방풍 방풍나물 배 배추 백새우 백조 백합 뱀장어 버섯
버섯류 버찌 벗 병어 보리 복숭아 봄동 봄동배추 봉지굴 부세 부지갱이 부추 붉은고추 붕어 붕장어
브로커리 브로코리 블루베리 비트 빈스 빙어 빨간양배추 삐틀이 사과 삼 삼나물 삼치 상추 새꼬막 새송이
새싹 새우 새우살 새조개 샐러리 생강 생고추 석류 선동오징어 세러리 세발나물 셀러리 소라 속새 숙주나물
시금치 실파 쌈채류 쑥 쑥갓 씀바귀 아귀 아보카도 아보카드 아스파라가스 아스파라거스 아욱 알 알배 야콘
양배추 양상추 양송이 양채 양채류 양파 얼갈이 얼갈이배추 연근 연어 열무 염고등어 엽경채류 엽채 엽채류
오렌지 오만둥이 오이 오징어 오징어몸통 오징어채 완두콩 용과 우럭조개 우렁 우렁쉥이 우렁이 우뭇가시리 원추리 유자
유채 은어 은행 임연 잉어 자라 자몽 재첩 적근대 적새우 적채 전복 절단 절단낙지 준치
중하 쪽파 쭈꾸미 참나물 참다래 참외 참조 채소 청경채 체리 총각무 취나물 치커리 칠게 칼라후라워
칼리플라워 칼리후라워 케일 코라비 코코넛 콜라비 콩 콩나물 키위 키조개 키조개꼭지 키조개날개 토란 토마토 톳
파 파세리 파인애플 파파야 파프리카 팽이 팽이버섯 포도 포장바지락 표고 표고버섯 풋고추 피망 피조개 해삼
해파리 향신료 향어 호박 홍고추 홍어 홍합 활복오징어

In [28]:
### 예시
# df2[(df2['prd']=='유채') & (df2['price']==4500)]['prd'].unique()
# df2[df2['prd']=='유채']['prd'].unique()

In [29]:
### 원래 단어 뭐였는지 검색
# org_df[org_df['품목명'].str.contains('느')]['품목명'].unique()

In [30]:
### 현재 이름 검색
# df2[df2['prd']=='느']

In [33]:
###
# JG

# 고 -> 고수로 변경
df2.loc[df2["prd"]=="고","prd"] = "고수"
# 과실류, 과일류, 과채, 채소 -> 과채류로 통합
df2.loc[df2["prd"]=="과실류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일야채류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일과채류","prd"] = "과채류"
df2.loc[df2["prd"]=="과일","prd"] = "과채류"
df2.loc[df2["prd"]=="과채","prd"] = "과채류"
df2.loc[df2["prd"]=="채소","prd"] = "과채류"
# 고들빼 -> 고들빼기로 변경
df2.loc[df2["prd"]=="고들빼","prd"] = "고들빼기"
# 꼴뚜 -> 꼴두기로 변경
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
# 그레이프푸룻 -> 자몽으로 통합
df2.loc[df2["prd"]=="그레이프푸룻","prd"] = "자몽"

# 느 -> 느타리버섯으로 통합
df2.loc[df2["prd"]=="느","prd"] = "느타리버섯"

# 대구 관련 품목들 정리
df2.loc[df2["prd"]=="대구고니","prd"] = "대구"
df2.loc[df2["prd"]=="대구머리","prd"] = "대구"
df2.loc[df2["prd"]=="대구포","prd"] = "대구"
df2.loc[df2["prd"]=="대구알","prd"] = "대구"
# 듀리안 -> 두리안으로 통합
df2.loc[df2["prd"]=="듀리안","prd"] = "두리안"
# 딸 -> 딸기로 변경
df2.loc[df2["prd"]=="딸","prd"] = "딸기"

# 로케트 -> 루꼴라로 변경
df2.loc[df2["prd"]=="로케트","prd"] = "루꼴라"

# 만가닥 -> 만가닥버섯으로 변경
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
# 맛 -> 맛조개로 변경
df2.loc[df2["prd"]=="맛","prd"] = "맛조개"
# 망고스턴 -> 망고스틴으로 수정
df2.loc[df2["prd"]=="망고스턴","prd"] = "망고스틴"
# 메 -> 메기로 변경
df2.loc[df2["prd"]=="메","prd"] = "메기"
# 명태 관련 품목들 정리
df2.loc[df2["prd"]=="명태곤니","prd"] = "명태"
df2.loc[df2["prd"]=="명태알","prd"] = "명태"
df2.loc[df2["prd"]=="명태포","prd"] = "명태"
df2.loc[df2["prd"]=="코다리명태","prd"] = "명태"
# 무우 -> 무로 통합
df2.loc[df2["prd"]=="무우","prd"] = "무"

# 방풍 -> 방풍나물로 통합
df2.loc[df2["prd"]=="방풍","prd"] = "방풍나물"
# 버섯류 -> 버섯으로 변경
df2.loc[df2["prd"]=="버섯","prd"] = "버섯"
# 벗,버찌 -> 체리로 통합
df2.loc[df2["prd"]=="벗","prd"] = "체리"
df2.loc[df2["prd"]=="버찌","prd"] = "체리"
df2.loc[df2["prd"]=="벗찌","prd"] = "체리"
# 브로커리, 브로코리 -> 브로콜리로 통합
df2.loc[df2["prd"]=="브로커리","prd"] = "브로콜리"
df2.loc[df2["prd"]=="브로코리","prd"] = "브로콜리"

# 삼 -> 수삼으로 변경
df2.loc[df2["prd"]=="삼","prd"] = "수삼"
# 새우살 -> 새우로 변경
df2.loc[df2["prd"]=="새우살","prd"] = "새우"
# 세러리, 셀러리 -> 샐러리로 통합
df2.loc[df2["prd"]=="세러리","prd"] = "샐러리"
df2.loc[df2["prd"]=="셀러리","prd"] = "샐러리"
# 생고추 -> 고추로 통합
df2.loc[df2["prd"]=="생고추","prd"] = "고추"

# 아보카드 -> 아보카도로 변경
df2.loc[df2["prd"]=="아보카드","prd"] = "아보카도"
# 아스파라가스 -> 아스파라거스로 변경
df2.loc[df2["prd"]=="아스파라가스","prd"] = "아스파라거스"
# 알 -> 알타리무로 변경
df2.loc[df2["prd"]=="알","prd"] = "알타리무"
# 알배 -> 알배기로 변경
df2.loc[df2["prd"]=="알배","prd"] = "알배기"
# 양채 -> 양채류로 통합
df2.loc[df2["prd"]=="양채","prd"] = "양채류"
# 얼갈이 -> 얼갈이배추로 통합
df2.loc[df2["prd"]=="얼갈이","prd"] = "얼갈이배추"
# 엽채류, 엽채 -> 엽경채류로 통합
df2.loc[df2["prd"]=="엽채류","prd"] = "엽경채류"
df2.loc[df2["prd"]=="엽채","prd"] = "엽경채류"
# 오징어 관련 품목들 정리
df2.loc[df2["prd"]=="오징어다리","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어원양","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어채","prd"] = "오징어"
df2.loc[df2["prd"]=="활복오징어","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어채원양","prd"] = "오징어"
df2.loc[df2["prd"]=="갑오징어살","prd"] = "오징어"
df2.loc[df2["prd"]=="갑오징어몸통","prd"] = "오징어"
# 옥, 풋옥 -> 옥수수로 정리
df2.loc[df2["prd"]=="옥","prd"] = "옥수수"
df2.loc[df2["prd"]=="풋옥","prd"] = "옥수수"
# 임연 -> 임연수어로 정리
df2.loc[df2["prd"]=="임연","prd"] = "임연수어"


# 절단 -> 절단쭈꾸미 -> 쭈꾸미로 정리
df2.loc[df2["prd"]=="절단","prd"] = "쭈꾸미"
# 조개살 -> 조개로 정리
df2.loc[df2["prd"]=="조개살","prd"] = "조개"

# 참조 -> 참조기로 정리
df2.loc[df2["prd"]=="참조","prd"] = "참조기"

# 칼라후라워,칼리플라워, 칼리후라워 -> 컬리플라워로 통합
df2.loc[df2["prd"]=="칼라후라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리플라워","prd"] = "컬리플라워"
df2.loc[df2["prd"]=="칼리후라워","prd"] = "컬리플라워"
# 코라비 -> 콜라비로 통합
df2.loc[df2["prd"]=="코라비","prd"] = "콜라비"
# 키조개날개 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개날개","prd"] = "키조개"

# 팽이 -> 팽이버섯으로 통합
df2.loc[df2["prd"]=="팽이","prd"] = "팽이버섯"
# 파세리 -> 파슬리로 변경
df2.loc[df2["prd"]=="파세리","prd"] = "파슬리"
# 표고 -> 표고버섯으로 통합
df2.loc[df2["prd"]=="표고","prd"] = "표고버섯"
# 포장바지락 -> 바지락으로 변경
df2.loc[df2["prd"]=="포장바지락","prd"] = "바지락"

### 일단 여기까지 실행
# JY
#각굴 -> 굴로 통합
df2.loc[df2["prd"]=="각굴","prd"] = "굴"
#가오리채 -> 가오리로 통합
df2.loc[df2["prd"]=="가오리채","prd"] = "가오리"
# 게지 -> 키조개로 통합
df2.loc[df2["prd"]=="게지","prd"] = "키조개"
#고 -> 고구마로 통합
df2.loc[df2["prd"]=="고","prd"] = "고구마"
#꼴뚜 -> 꼴뚜기로 통합
df2.loc[df2["prd"]=="꼴뚜","prd"] = "꼴뚜기"
#돗나물 -> 돌나물로 통합
df2.loc[df2["prd"]=="돗나물","prd"] = "돌나물"
#레드쉬 -> 레디쉬로 통합
df2.loc[df2["prd"]=="레드쉬","prd"] = "레디쉬"
#만가닥 -> 만가닥버섯으로 통합
df2.loc[df2["prd"]=="만가닥","prd"] = "만가닥버섯"
#메 -> 메기로 통합
df2.loc[df2["prd"]=="메","prd"] = "메기"
#봄동 -> 봄동배추로 통합
df2.loc[df2["prd"]=="봄동","prd"] = "봄동배추"
#봉지굴 -> 굴로 통합
df2.loc[df2["prd"]=="봉지굴","prd"] = "굴"
#박 -> 수박으로 통합
df2.loc[df2["prd"]=="박","prd"] = "수박"
#백조 -> 조기로 통합 
df2.loc[df2["prd"]=="백조","prd"] = "조기"
#벅굴 -> 벚굴로 통합
df2.loc[df2["prd"]=="벅굴","prd"] = "벚굴"
#비 -> 비타민으로 통합
df2.loc[df2["prd"]=="비","prd"] = "비타민"
#빈스 -> 콩으로 통합
df2.loc[df2["prd"]=="빈스","prd"] = "콩"
#삐틀이 -> 고둥으로 통합
df2.loc[df2["prd"]=="삐틀이","prd"] = "고둥"
#새송이 -> 새송이버섯으로 통합
df2.loc[df2["prd"]=="새송이","prd"] = "새송이버섯"
#세트 -> 과채류로 통합
df2.loc[df2["prd"]=="세트","prd"] = "과채류"
#알 -> 알로애로 통합
df2.loc[df2["prd"]=="알","prd"] = "알로에"
#엄나무 -> 음나무로 통합
df2.loc[df2["prd"]=="엄나무","prd"] = "음나무"
#염고등어 -> 고등어로 통합
df2.loc[df2["prd"]=="염고등어","prd"] = "고등어"
#오만둥이 -> 미더덕으로 통합
df2.loc[df2["prd"]=="오만둥이","prd"] = "미더덕"
#오징어 관련 품목들 정리
df2.loc[df2["prd"]=="선동오징어","prd"] = "오징어"
df2.loc[df2["prd"]=="오징어몸통","prd"] = "오징어"
#우렁쉥이 -> 멍게로 통합
df2.loc[df2["prd"]=="우렁쉥이","prd"] = "멍게"
#우뭇가시리 -> 우뭇가사리로 통합
df2.loc[df2["prd"]=="우뭇가시리","prd"] = "우뭇가사리"
#적채 -> 적양배추로 통합
df2.loc[df2["prd"]=="적채","prd"] = "적양배추"
#절단낙지 -> 낙지로 통합
df2.loc[df2["prd"]=="절단낙지","prd"] = "낙지"
#조 -> 조개로 통합
df2.loc[df2["prd"]=="조","prd"] = "조개"
#청어원양 -> 청어로 통합
df2.loc[df2["prd"]=="청어원양","prd"] = "청어"
#키조개꼭지 -> 키조개로 통합
df2.loc[df2["prd"]=="키조개꼭지","prd"] = "키조개"

# 꽃게 관련 꽃게로 통합
df2.loc[df2["prd"]=="암꽃게","prd"] = "꽃게"
df2.loc[df2["prd"]=="숫꽃게","prd"] = "꽃게"
df2.loc[df2["prd"]=="꽃게살","prd"] = "꽃게"
# 우렁 -> 우렁이로 통합
df2.loc[df2["prd"]=="우렁","prd"] = "우렁이"
# 알로애 -> 알로에로 변경
df2.loc[df2["prd"]=="알로애","prd"] = "알로에"
# 피마자잎 -> 피마자로 변경
df2.loc[df2["prd"]=="피미자잎","prd"] = "피마자"
# 식용허브 -> 허브로 변경
df2.loc[df2["prd"]=="식용허브","prd"] = "허브"
# 선인장열매 -> 선인장으로 변경
df2.loc[df2["prd"]=="선인장열매","prd"] = "선인장"
# 쌈추 -> 쌈채류로 변경
df2.loc[df2["prd"]=="쌈추","prd"] = "쌈채류"
# 덟은감 -> 감으로 변경
df2.loc[df2["prd"]=="덟은감","prd"] = "감"
# 피뿔고동 -> 고둥으로 변경
df2.loc[df2["prd"]=="피뿔고동","prd"] = "고둥"
# 꼬시래 -> 꼬시래기으로 변경
df2.loc[df2["prd"]=="꼬시래","prd"] = "꼬시래기"
# 연어살 -> 연어로 변경
df2.loc[df2["prd"]=="연어살","prd"] = "연어"
# 비단멍게 -> 멍게로 변경
df2.loc[df2["prd"]=="비단멍게","prd"] = "멍게"
# 물가자미 -> 가자미로 변경
df2.loc[df2["prd"]=="물가자미","prd"] = "가자미"
# 물메 -> 메기로 변경
df2.loc[df2["prd"]=="물메","prd"] = "메기"
# 붉은메 -> 메기로 변경
df2.loc[df2["prd"]=="붉은메","prd"] = "메기"
# 조미제품 삭제
df2.drop(df2[df2['prd']=='조미제품'].index,inplace=True)
df2.drop(df2[df2['prd']=='어류원양'].index,inplace=True)
df2.drop(df2[df2['prd']=='동물'].index,inplace=True)

In [34]:
# 기존 products 리스트와 비교
ex_prd = pd.read_csv("../products.csv")
df2[~df2['prd'].isin(ex_prd['prd'])]['prd'].unique()

array(['루꼴라'], dtype=object)

In [35]:
# 물품 리스트 최신화
new_prd = pd.DataFrame(df2['prd'].unique(),columns=['prd'])
# products = ex_prd.append(new_prd[~new_prd['prd'].isin(ex_prd['prd'])],ignore_index=True)
products = ex_prd.append(new_prd,ignore_index=True)

/var/folders/nq/s4zx76p53d11lnr0t1dxpxh00000gn/T/ipykernel_3765/2619460125.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  products = ex_prd.append(new_prd,ignore_index=True)

In [36]:
products.drop(columns=['Unnamed: 0'],inplace=True)
products.drop_duplicates(inplace=True)
products.reset_index(inplace=True,drop=True)

In [37]:
# 다음 작업을 위해 저장
products.to_csv('../products.csv')

In [38]:
# 전체 거래량과 품목량
# 비교를 위해 분포 파악
# 거래량이 너무 적은 품목은 삭제할 필요성이 있음

prd_lst = (df2['prd'].value_counts()).to_frame()
prd_lst.describe()

               prd
count    231.00000
mean    4219.07792
std    15149.30474
min        1.00000
25%       13.00000
50%      190.00000
75%     2043.50000
max   180845.00000

In [39]:
# 50개 미만 품목은 비교가 힘드므로 삭제
# 줄어든 종류만 남기기

prd_lst = prd_lst[prd_lst['prd']>=50]
prd_lst.reset_index(inplace=True)
prd_lst = prd_lst.rename(columns = {'index':'prd','prd':'count'})

In [40]:
df3 = df2.merge(prd_lst)
df3[df3['count']>=50]['prd'].value_counts()

딸기      180845
버섯       79428
토마토      63828
오이       50979
참외       47788
         ...
개조개         73
도라지         63
재첩          59
수삼          53
부지갱이        50
Name: prd, Length: 142, dtype: int64

In [41]:
# 줄어든 것 확인했으므로 count column은 삭제
df3 = df3.drop(columns='count')

### scale

In [42]:
np.set_printoptions(precision=2, suppress=True)
df3['scale'].unique()

array([ 10.  ,   8.  ,   3.  ,  12.  ,   2.  ,   9.  ,   6.  ,   7.  ,
         1.  ,  20.  ,  25.  ,  10.01,  15.  ,  14.  ,   5.  ,   0.6 ,
         5.01,   0.5 ,   0.4 ,   1.5 ,   4.5 ,   0.2 ,   0.1 ,   0.25,
         4.  ,  17.  ,   0.15,   1.3 ,   8.4 ,   0.05,   7.5 ,   0.7 ,
         2.5 ,   1.2 ,   1.6 ,   0.07,  13.  ,  13.5 ,   3.5 ,   5.2 ,
         5.5 ,  16.  ,   0.3 ,  18.  ,   8.01,   0.16,   0.9 ,   0.8 ,
         0.75,   1.4 ,  75.  ,   0.33,   1.01,   2.01,   2.7 ,  11.  ,
         4.2 ,  11.2 ,   9.6 , 101.  ,  10.6 ,  12.5 ,  11.5 ,  19.  ,
        21.  ,  22.  ,  23.  ,  24.  ,   0.12,   0.03,  27.  ,  26.  ,
         2.4 ,   3.3 ,   3.9 ,   0.38,   0.36,   3.6 ,  12.6 ,   9.5 ,
         8.8 ,   4.8 ,   5.4 ,   7.2 ,  10.5 ,   3.8 ,   1.35,   6.5 ,
         8.5 ,  14.5 ,   3.4 ,   4.7 ,   2.6 ,   9.8 ,  17.5 ,   1.7 ,
         1.9 ,   1.1 ,   3.2 ,   2.8 ,   2.9 ,   2.3 ,   5.7 ,   5.3 ,
         4.3 ,   2.1 ,   7.4 ,   6.9 ,   4.6 ,   3.1 ,   3.7 ,   6.8 ,
         6.6 ,   8.9 ,   6.2 ,   5.6 ,   5.8 ,   7.6 ,   8.6 ,   7.3 ,
         2.2 ,   5.1 ,   7.8 ,   4.9 ,   4.4 ,   6.4 ,   0.56,  10.02,
        20.7 ,  22.5 ,  15.3 ,  16.2 ,  14.4 ,  18.9 ,  11.6 ,  10.8 ,
        10.7 ,  28.  ,   0.08,   1.8 ,  72.  ,   9.07,  18.01,   6.7 ,
        10.3 ,  21.5 ,   0.  ,  15.01,  10.2 ,  18.7 ,  14.8 ,  15.5 ,
        11.3 ,  13.3 ,  11.52,  55.  ,   8.2 ,   8.25,   8.3 ,   8.32,
         7.7 ,  10.4 ,  13.8 ,  39.  ,  41.  ,  29.  ,  84.5 ,  32.5 ,
        85.  ,  89.5 ,  80.  ,  82.  ,  82.5 ,  81.  ,  76.5 ,  77.5 ,
        58.  ,  65.  ,  77.  ,  78.5 ,  73.5 ,  74.5 ,  79.  ,  67.5 ,
        68.  ,  68.5 ,  76.  ,  75.5 ,  70.  ,  71.5 ,  37.5 ,  35.  ,
        40.  ,  36.  ,  83.  ,  57.5 ,   4.54,   3.54,   0.98,   2.73,
        21.54,  16.5 ,   9.4 ,   2.78])

In [43]:
df3[df3['scale']>=50]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
126721,딸기,75.00000,17000,전남 담양군,normal,2022-03-03,1,226.67000
311084,감귤,101.00000,38000,제주도 제주시,normal,2022-03-07,9,376.24000
311085,감귤,101.00000,33000,제주도 제주시,normal,2022-03-07,9,326.73000
311086,감귤,101.00000,38000,제주도 제주시,normal,2022-03-07,9,376.24000
311087,감귤,101.00000,36000,제주도 제주시,normal,2022-03-07,9,356.44000
311088,감귤,101.00000,33000,제주도 제주시,normal,2022-03-07,9,326.73000
311089,감귤,101.00000,32000,제주도 제주시,normal,2022-03-07,9,316.83000
647256,오렌지,72.00000,60000,미국,normal,2022-03-07,1,833.33000
647257,오렌지,72.00000,60000,미국,normal,2022-03-07,1,833.33000
911336,파프리카,55.00000,37000,인천시 부평구,normal,2022-03-12,1,672.73000
954283,수삼,84.50000,2309667,충남 논산시,normal,2022-03-05,1,27333.34000
954285,수삼,85.00000,2323333,충남 논산시,normal,2022-03-05,1,27333.33000
954286,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954287,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954288,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954289,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954290,수삼,82.50000,2255000,충남 논산시,normal,2022-03-05,1,27333.33000
954291,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954292,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954293,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954294,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954295,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954296,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954297,수삼,77.50000,2118333,충남 논산시,normal,2022-03-05,1,27333.33000
954298,수삼,58.00000,1585333,충남 논산시,normal,2022-03-05,1,27333.33000
954299,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954300,수삼,65.00000,1776667,충남 논산시,normal,2022-03-05,1,27333.34000
954301,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954302,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954303,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954304,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954305,수삼,81.00000,2214000,충남 금산군 복수면,normal,2022-03-22,1,27333.33000
954306,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954307,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954308,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954309,수삼,76.50000,2091000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954310,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954311,수삼,77.50000,2118333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954312,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954313,수삼,74.50000,2036333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954314,수삼,79.00000,2159333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954315,수삼,67.50000,1845000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954316,수삼,68.00000,1858667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954317,수삼,68.50000,1872333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954318,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954319,수삼,76.00000,2077333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954320,수삼,75.50000,2063667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954321,수삼,70.00000,1913333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954322,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954323,수삼,71.50000,1954333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954333,수삼,84.50000,3042000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954334,수삼,83.00000,2988000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954335,수삼,57.50000,1571667,충남 금산군 복수면,normal,2022-03-25,9,27333.34000

In [44]:
# 50kg 이상 거래된 건들 이상치라 판단하고 확인 진행
df3[df3['scale']>=50]['prd'].unique()

array(['딸기', '감귤', '오렌지', '파프리카', '수삼'], dtype=object)

In [53]:
df3[(df3['prd']=='수삼')&(df3['scale']>=10)]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
954283,수삼,84.50000,2309667,충남 논산시,normal,2022-03-05,1,27333.34000
954284,수삼,32.50000,888333,충남 논산시,normal,2022-03-05,1,27333.32000
954285,수삼,85.00000,2323333,충남 논산시,normal,2022-03-05,1,27333.33000
954286,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954287,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954288,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954289,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954290,수삼,82.50000,2255000,충남 논산시,normal,2022-03-05,1,27333.33000
954291,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954292,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954293,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954294,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954295,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954296,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954297,수삼,77.50000,2118333,충남 논산시,normal,2022-03-05,1,27333.33000
954298,수삼,58.00000,1585333,충남 논산시,normal,2022-03-05,1,27333.33000
954299,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954300,수삼,65.00000,1776667,충남 논산시,normal,2022-03-05,1,27333.34000
954301,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954302,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954303,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954304,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954305,수삼,81.00000,2214000,충남 금산군 복수면,normal,2022-03-22,1,27333.33000
954306,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954307,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954308,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954309,수삼,76.50000,2091000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954310,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954311,수삼,77.50000,2118333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954312,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954313,수삼,74.50000,2036333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954314,수삼,79.00000,2159333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954315,수삼,67.50000,1845000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954316,수삼,68.00000,1858667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954317,수삼,68.50000,1872333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954318,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954319,수삼,76.00000,2077333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954320,수삼,75.50000,2063667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954321,수삼,70.00000,1913333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954322,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954323,수삼,71.50000,1954333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954324,수삼,22.00000,733333,충남 논산시,normal,2022-03-05,9,33333.32000
954325,수삼,37.50000,750000,충남 논산시,normal,2022-03-05,9,20000.00000
954326,수삼,35.00000,1166667,충남 논산시,normal,2022-03-05,9,33333.34000
954327,수삼,16.00000,533333,충남 논산시,normal,2022-03-05,9,33333.31000
954328,수삼,35.00000,700000,충남 논산시,normal,2022-03-05,9,20000.00000
954329,수삼,35.00000,700000,충남 논산시,normal,2022-03-05,9,20000.00000
954331,수삼,40.00000,800000,충남 논산시,normal,2022-03-05,9,20000.00000
954332,수삼,36.00000,1200000,충남 논산시,normal,2022-03-05,9,33333.33000
954333,수삼,84.50000,3042000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954334,수삼,83.00000,2988000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954335,수삼,57.50000,1571667,충남 금산군 복수면,normal,2022-03-25,9,27333.34000

In [54]:
# 스케일 오표기된 항목 수정
# 수삼은 정상 거래
# 이상치 항목 삭제
df3 = df3.drop(df3[(df3['scale']>=50)&(df3['prd']!='수삼')].index)

In [55]:
df3[df3['scale']>=50]

,prd,scale,price,origin,eco,reg_date,new_class,price_kg
954283,수삼,84.50000,2309667,충남 논산시,normal,2022-03-05,1,27333.34000
954285,수삼,85.00000,2323333,충남 논산시,normal,2022-03-05,1,27333.33000
954286,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954287,수삼,89.50000,2446333,충남 논산시,normal,2022-03-05,1,27333.33000
954288,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954289,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954290,수삼,82.50000,2255000,충남 논산시,normal,2022-03-05,1,27333.33000
954291,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954292,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954293,수삼,82.00000,2241333,충남 논산시,normal,2022-03-05,1,27333.33000
954294,수삼,81.00000,2214000,충남 논산시,normal,2022-03-05,1,27333.33000
954295,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954296,수삼,80.00000,2186667,충남 논산시,normal,2022-03-05,1,27333.34000
954297,수삼,77.50000,2118333,충남 논산시,normal,2022-03-05,1,27333.33000
954298,수삼,58.00000,1585333,충남 논산시,normal,2022-03-05,1,27333.33000
954299,수삼,76.50000,2091000,충남 논산시,normal,2022-03-05,1,27333.33000
954300,수삼,65.00000,1776667,충남 논산시,normal,2022-03-05,1,27333.34000
954301,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954302,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954303,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954304,수삼,80.00000,2186667,충남 금산군 복수면,normal,2022-03-22,1,27333.34000
954305,수삼,81.00000,2214000,충남 금산군 복수면,normal,2022-03-22,1,27333.33000
954306,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954307,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954308,수삼,78.50000,2145667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954309,수삼,76.50000,2091000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954310,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954311,수삼,77.50000,2118333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954312,수삼,77.00000,2104667,충남 금산군 복수면,normal,2022-03-22,3,27333.34000
954313,수삼,74.50000,2036333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954314,수삼,79.00000,2159333,충남 금산군 복수면,normal,2022-03-22,3,27333.33000
954315,수삼,67.50000,1845000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954316,수삼,68.00000,1858667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954317,수삼,68.50000,1872333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954318,수삼,75.00000,2050000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954319,수삼,76.00000,2077333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954320,수삼,75.50000,2063667,충남 금산군 복수면,normal,2022-03-25,3,27333.34000
954321,수삼,70.00000,1913333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954322,수삼,73.50000,2009000,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954323,수삼,71.50000,1954333,충남 금산군 복수면,normal,2022-03-25,3,27333.33000
954333,수삼,84.50000,3042000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954334,수삼,83.00000,2988000,충남 금산군 복수면,normal,2022-03-22,9,36000.00000
954335,수삼,57.50000,1571667,충남 금산군 복수면,normal,2022-03-25,9,27333.34000

### origin

In [56]:
# 도,시, 국산, 수입 표기 분류 필요
df3['origin'].unique()

array(['전남 무안군', '경기 포천시', '경기 고양시', '경기도 고양시', '경기 파주시', '전남 여수시',
       '전남 여수시 돌산읍', '경기 구리시', '전남 신안군', '경기 안성시', '서울 송파구', '경기 남양주시',
       '서울 은평구', '서울시 강서구', '광주 광산구', '경남 진주시', '경기 여주시', '경남 김해시',
       '경기 안성시 일죽면', '경기 여주군', '경남 밀양시', '경남 의령군', '경남 밀양시 단장면', '경남 창녕군',
       '경남 창원시', '경남 함안군', '경북 상주시', '경북 성주군', '전북 전주시', '충남 부여군',
       '경기 양평군', '광주시 광산구', '충남 금산군', '경남 고성군', '전남 나주시', '전북 군산시',
       '전북 임실군', '충남 예산군', '경남 창원시 의창구', '경남', '경남 거제시', '전북 완주군',
       '충북 충주시', '경기 이천시', '경남 진주시 금곡면', '경기 광주시', '경기 하남시', '전북 익산시',
       '전남 광양시', '서울', '경기도 여주시 점동면', '경기도 여주시 능서면', '충남 당진시', '충남 서산시',
       '인천 강화군', '충남 보령시', '충남 태안군', '경기도 이천시', '전남 영암군', '전북 김제시',
       '충북 음성군', '전북 고창군', '인천시 강화군', '충남 논산시', '충남 천안시', '전남 해남군',
       '경기 이천시 장호원읍', '충남 아산시', '충남 태안군 남면', '충남 서산시 고북면', '충북 진천군',
       '경북 김천시', '충남 서천군', '충남 홍성군', '경북 영천시', '강원 원주시', '전라북도 익산시',
       '전남 순천시', '인천 강화군 길상면', '경기 성남시', '서울 강동구', '성남시 분당구', '제주 서귀포시',
       '제주 제주시', '경기 용인시', '제주', '경기 양주시', '서울 중랑구', '서울 도봉구', '경기 시흥시',
       '경기 광명시', '서울 동대문구', '충북 제천시', '수입산 미국', '서울 양천구', '경기 의왕시',
       '대구 동구', '전남 고흥군', '전남 담양군', '경북 경산시', '경북 영양군', '강원 고성군',
       '강원 평창군', '전남 영광군', '제주 서귀포', '경기 평택시', '전남', '세종시', '경남 합천군',
       '에콰도르', '페루', '필리핀', '베트남', '코스타리카', '콜롬비아', '에쿠아도르', '에콰돌',
       '수입산 필리핀', '수입산 베트남', '수입산 에콰도르', '수입산 코스타리카', '수입산 페루', '과테말라',
       '수입산 콜롬비아', '수입산 과테말라', '기타외국', '전남 구례군', '전라북도 전주시', '충남 공주시',
       '수입산 뉴질랜드', '부산 강서구', '뉴질랜드', '경남 사천시', '경남 산청군', '충북 청원군',
       '전남 해남군 계곡면', '전남 함평군', '경북 안동시', '충북 청주시', '전북', '광주 서구',
       '전남 강진군', '광주 남구', '경기 오산시', '중국', '충남', '전남 장흥군', '충청남도 논산시',
       '전남 장흥군 관산읍', '대구', '충남 부여군 세도면', '경북 영덕군', '전남 보성군', '경기도 파주시',
       '경북 경주시', '경남 하동군', '경북 고령군', '전북 순창군', '경남 함양군', '전북 남원시',
       '광주 북구', '경남 거창군', '전라북도 남원시', '전남 곡성군', '충남 청양군', '전북 부안군',
       '인천시 계양구', '경북 청도군', '전북 익산시 망성면', '경남 남해군', '세종', '충북 영동군',
       '충남 논산시 연무읍', '수입산 이집트', '수입산 칠레', '전라북도 부안군', '부산 북구',
       '충남 논산시 가야곡면', '경상북도 고령군', '경북 포항시', '충남 논산시 양촌면', '전남 여수시 남면',
       '경북 포항시남구', '경기', '전남 고흥군 도화면', '경기 수원시', '경기 화성시', '경기도 평택시',
       '경기도 양평군', '경북 문경시', '충남 연기군', '전남 나주시 반남면', '경기 이천시 설성면',
       '경기도 안성시', '경기 안성시 서운면', '경기 평택시 안중읍', '경기 김포시', '경기 여주시 가남읍',
       '경기도 남양주시', '경기 평택시 현덕면', '전북 장수군', '제주 북제주군', '제주도 서귀포시',
       '제주 서귀포시(2)', '제주 남제주군', '제주도 제주시', '제주시 한림읍', '전남 진도군', '전남 완도군',
       '성남시 중원구', '강원 영월군', '전북 고창군 고창읍', '경기 가평군', '강원 횡성군', '강원 인제군',
       '강원도 횡성', '광주시 남구', '경상남도 창원시', '강원 홍천군', '강원 양양군', '강원 태백시',
       '청주시 상당구', '청주시 흥덕구', '충북 괴산군', '수입산 중국', '충북 증평군', '강원 춘천시',
       '경기 연천군', '전북 정읍시', '전남 장성군', '전남 화순군', '충북 보은군', '강원 화천군', '가락동',
       '경기 의정부시', '강원 철원군', '경기도 시흥시', '경기 안양시', '강원 강릉시', '제주시 한경면',
       '포항시 북구', '경기도 여주군', '경기 안산시', '서귀포시 대정읍', '충남 아산시 도고면', '광주',
       '제주시 애월읍', '전남 신안군 비금면', '경기 양평군 양동면', '경기 안성시 고삼면', '전남 목포시',
       '경기 여주시 대신면', '전라남도 장성군', '경기 고양시일산구', '경기도 김포시', '경기 고양시덕양구',
       '경기도 광명시', '서울시 은평구', '경기 고양시 덕양구', '경남 마산시', '멕시코', '칠레',
       '우즈베키스탄', '미국', '울산 북구', '경기 양주군', '대전 동구', '경북 김천시 감문면', '울산 남구',
       '전북 순창군 적성면', '경기 파주시 군내면', '대전 대덕구', '강원', '전북 무주군', '경북 예천군',
       '경북 경주시 감포읍', '경북 경주시 양북면', '경남 통영시', '전북 남원시 금지면', '강원도 횡성군',
       '대전 서구', '경북 청송군', '경북 영주시 부석면', '경북 영주시', '강원 양구군', '경북 의성군',
       '충북', '경북', '경북 문경시 가은읍', '대구 북구', '경북 봉화군', '대구시 동구', '충북 옥천군',
       '충북 단양군', '경북 군위군', '서울시 양천구', '충남 논산시 성동면', '충남 논산시 강경읍',
       '충남 계룡시', '경기도 부천시', '경기 안성시 양성면', '세종 세종시', '강원 정선군', '경북 칠곡군',
       '경남 밀양시 무안면', '경북 구미시', '강원도 평창', '대구 달성군', '강원도 강릉시', '강원도 평창군',
       '강원도 춘천', '수입산 호주', '호주', '충북 음성군 생극면', '경북 김천시 조마면', '경북 김천시 남면',
       '경북 김천시 부항면', '전남 담양군 무정면', '경북 김천시 농소면', '경북 성주군 수륜면',
       '경기 양평군 지제면', '전북 정읍시 감곡면', '전북 익산시 금마면', '경남 함안군 대산면', '대구시 달성군',
       '충북 음성군 맹동면', '인천 계양구', '경기 양평군 청운면', '서울 강서구', '광주 광주', '경기도 양주군',
       '경기 양주시 백석읍', '서울시 도봉구', '수입산 멕시코', '이스라엘', '경남 산청군 신안면', '대만',
       '수입산 대만', '서울 중구', '부산시 강서구', '경북/문경시', '강원도 정선군', '제주 제주시(2)',
       '전라북도 완주군', '대구 중구', '경기도 포천군', '스페인', '부산 동구', '대전 유성구', '전북 진안군',
       '전주시 완산구', '경기 이천시 백사면', '전남 나주시 산포면', '전남 나주시 공산면', '전남 보성군 겸백면',
       '충남 부여군 구룡면', '수입산 이스라엘', '제주 남제주', '경기도 화성군', '경기도 광주군',
       '경남 창원시 북면', '경남 마산시합포구', '그리스', '경북 칠곡군 약목면', '경북 성주군 월항면',
       '충남 당진시 순성면', '충남 당진시 송악면', '제주시 구좌읍', '경기 용인시 모현면', '전남 광양시 다압면',
       '제주 제주시 한림읍', '제주 제주시 한경면', '수입산 그리스', '경기 이천시 모가면', '부산 부산진구',
       '부산 오포군', '강원 춘천시 남산면', '부산', '서울특별시 영등포구', '부산 기장군', '강원도 화천군',
       '전라북도 순창군', '경기 안성시 공도읍', '충남 보령시 남포면', '전남 완도군 생일면', '전북 임실군 강진면',
       '캘리포니아', '제주특별자치도 서귀', '태국', '캄보디아', '수입산 태국', '타이', '수입산 캄보디아',
       '경기 남양주시 진건읍', '경남 진주시 내동면', '전남 나주시 세지면', '인천', '인천시 부평구',
       '강원도 철원군', '인천광역시 남구', '인천 남구', '경기 화성시 우정읍', '경기도 하남시', '인천 남동구',
       '강원 영월군 하동면', '인천 부평구', '오스트레일', '서울 강남구', '충남 홍성군 은하면',
       '충남 천안시 서북구', '경기 의왕시 초평로 1', '경기 이천시 대월면', '경남 창녕군 남지읍',
       '인천 미추홀구', '전남 나주시 금천면', '광주 동구', '전주시 덕진구', '전북 김제시 금산면',
       '경남 밀양시 청도면', '경북 청도군 각남면', '경기 부천시오정구', '경기 부천시', '전남 순천시 해룡면',
       '부천시 오정구', '충남 금산군 복수면', '수입 러시아\t', '수입 미국\t', '국내산\t', '수입 중국\t',
       '경남 삼천포\t', '경남 남해\t', '전남 여수\t', '충남 서산\t', '경남 마산(고성,진해)',
       '경남 통영\t', '전북 군산\t', '수입 노르웨이\t', '충남 장항(서천)\t', '전남 고흥(나로도)\t',
       '제주 제주도\t', '수입 기타\t', '수입 세네갈\t', '전남 순천(광양)\t', '수입 베트남\t',
       '수입 에콰도르\t', '수입 말레이지아\t', '제주 서귀포\t', '수입 타이\t', '수입 페루\t',
       '수입 아르헨티나\t', '수입 캐나다\t', '경남 부산\t', '수입 일본\t', '전북 부안\t',
       '전남 강진\t', '전남 장흥\t', '경기 인천\t'], dtype=object)

In [57]:
# 해당 조건에 맞는 값 추출

splits = df3['origin'].str.split(' ')
cacul = splits.apply(lambda x: pd.Series(x))
df66 = pd.merge(df3,cacul, left_index=True, right_index=True, how='inner')
df66

,prd,scale,price,origin,eco,reg_date,new_class,price_kg,0,1,2,3
0,갓,10.00000,30000,전남 무안군,normal,2022-03-01,1,3000.00000,전남,무안군,NaN,NaN
1,갓,10.00000,18000,전남 무안군,normal,2022-03-01,1,1800.00000,전남,무안군,NaN,NaN
2,갓,10.00000,16000,전남 무안군,normal,2022-03-01,1,1600.00000,전남,무안군,NaN,NaN
3,갓,10.00000,17000,전남 무안군,normal,2022-03-01,1,1700.00000,전남,무안군,NaN,NaN
4,갓,10.00000,28000,전남 무안군,normal,2022-03-01,1,2800.00000,전남,무안군,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
973469,해삼,2.80000,35000,전남 여수\t,normal,2022-03-31,3,12500.00000,전남,여수\t,NaN,NaN
973470,해삼,2.80000,35000,전남 여수\t,normal,2022-03-31,3,12500.00000,전남,여수\t,NaN,NaN
973471,해삼,2.70000,20000,"경남 마산(고성,진해)",normal,2022-03-31,3,7407.41000,경남,"마산(고성,진해)",NaN,NaN
973472,해삼,2.80000,35000,전남 여수\t,normal,2022-03-31,3,12500.00000,전남,여수\t,NaN,NaN
973473,해삼,2.70000,20000,"경남 마산(고성,진해)",normal,2022-03-31,3,7407.41000,경남,"마산(고성,진해)",NaN,NaN

In [58]:
# 세부 카테고리 정리 (state, city 편집 시 여기서 시작)

df4 = df66.rename(columns = {0:'state',1:'city'})

# 2,3은 필요없는 정보이므로 삭제
df4 = df4.drop(columns=[2,3])

In [59]:
df4['state'].unique()

array(['전남', '경기', '경기도', '서울', '서울시', '광주', '경남', '경북', '전북', '충남',
       '광주시', '충북', '인천', '인천시', '강원', '전라북도', '성남시', '제주', '수입산', '대구',
       '세종시', '에콰도르', '페루', '필리핀', '베트남', '코스타리카', '콜롬비아', '에쿠아도르', '에콰돌',
       '과테말라', '기타외국', '부산', '뉴질랜드', '중국', '충청남도', '세종', '경상북도', '제주도',
       '제주시', '강원도', '경상남도', '청주시', '가락동', '포항시', '서귀포시', '전라남도', '멕시코',
       '칠레', '우즈베키스탄', '미국', '울산', '대전', '대구시', '호주', '이스라엘', '대만', '부산시',
       '경북/문경시', '스페인', '전주시', '그리스', '서울특별시', '캘리포니아', '제주특별자치도', '태국',
       '캄보디아', '타이', '인천광역시', '오스트레일', '부천시', '수입', '국내산\t'], dtype=object)

In [60]:
# 시,도 제거
def name_sort(words):
  p = re.compile('[^시도]+')
  word = re.search(p,str(words))
  return word.group()

df4["state"] = df4["state"].apply(name_sort)

# 오타도 제거

def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["state"] = df4["state"].apply(name_sort2)

In [61]:
df4["state"].unique()

array(['전남', '경기', '서울', '광주', '경남', '경북', '전북', '충남', '충북', '인천', '강원',
       '전라북', '성남', '제주', '수입산', '대구', '세종', '에콰', '페루', '필리핀', '베트남',
       '코스타리카', '콜롬비아', '에쿠아', '에콰돌', '과테말라', '기타외국', '부산', '뉴질랜드', '중국',
       '충청남', '경상북', '경상남', '청주', '가락동', '포항', '서귀포', '전라남', '멕', '칠레',
       '우즈베키스탄', '미국', '울산', '대전', '호주', '이스라엘', '대만', '경북/문경', '스페인',
       '전주', '그리스', '서울특별', '캘리포니아', '제주특별자치', '태국', '캄보디아', '타이', '인천광역',
       '오스트레일', '부천', '수입', '국내산'], dtype=object)

In [64]:
# state
# 특이케이스 제거

# 국내
df4.loc[df4["state"]=="국내산","city"] = "미상"
df4.loc[df4["state"]=="국내산","state"] = "국산"
df4.loc[df4["state"]=="원양산","city"] = "미상"

## 도단위
df4.loc[df4["state"]=="충청북","state"] = "충북"
df4.loc[df4["state"]=="충청남","state"] = "충남"
df4.loc[df4["state"]=="전라북","state"] = "전북"
df4.loc[df4["state"]=="전라남","state"] = "전남"
df4.loc[df4["state"]=="경상북","state"] = "경북"
df4.loc[df4["state"]=="경상남","state"] = "경남"

## 시단위
### 광역시

df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="대구","city"] = "대구"
df4.loc[df4["state"]=="서울특별","city"] = "서울"
df4.loc[df4["state"]=="서울특별","state"] = "서울"
df4.loc[df4["state"]=="인천광역","city"] = "인천"
df4.loc[df4["state"]=="인천광역","state"] = "인천"
df4.loc[df4["state"]=="부산","city"] = "부산"
df4.loc[df4["state"]=="부산광역","city"] = "부산"
df4.loc[df4["state"]=="부산광역","state"] = "부산"
df4.loc[df4["state"]=="가락동","city"] = "서울"
df4.loc[df4["state"]=="가락동","state"] = "서울"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="세종특별자치","city"] = "세종"
df4.loc[df4["state"]=="세종특별자치","state"] = "세종"
df4.loc[df4["state"]=="대전","city"] = "대전"
df4.loc[df4["state"]=="제주","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","city"] = "제주"
df4.loc[df4["state"]=="제주특별자치","state"] = "제주"
df4.loc[df4["state"]=="제주특별자","city"] = "제주"
df4.loc[df4["state"]=="제주특별자","state"] = "제주"
df4.loc[df4["state"]=="제주/서귀포","city"] = "제주"
df4.loc[df4["state"]=="제주/서귀포","state"] = "제주"
df4.loc[df4["state"]=="서귀포","city"] = "제주"
df4.loc[df4["state"]=="서귀포","state"] = "제주"
df4.loc[df4["state"]=="세종","city"] = "세종"
df4.loc[df4["state"]=="울산","city"] = "울산"
df4.loc[df4["state"]=="울산","state"] = "울산"

### 일반시
df4.loc[df4["state"]=="성남","city"] = "성남"
df4.loc[df4["state"]=="성남","state"] = "경기"
df4.loc[df4["state"]=="전주","city"] = "전주"
df4.loc[df4["state"]=="전주","state"] = "전북"
df4.loc[df4["state"]=="청주","city"] = "청주"
df4.loc[df4["state"]=="청주","state"] = "충북"
df4.loc[df4["state"]=="수원","city"] = "수원"
df4.loc[df4["state"]=="수원","state"] = "경기"
df4.loc[df4["state"]=="부천","city"] = "부천"
df4.loc[df4["state"]=="부천","state"] = "경기"
df4.loc[df4["state"]=="경기고양","city"] = "고양"
df4.loc[df4["state"]=="경기고양","state"] = "경기"
df4.loc[df4["state"]=="충북청주","city"] = "청주"
df4.loc[df4["state"]=="충북청주","state"] = "충북"
df4.loc[df4["state"]=="전북전주","city"] = "전주"
df4.loc[df4["state"]=="전북전주","state"] = "전북"
df4.loc[df4["state"]=="경북/문경","city"] = "문경"
df4.loc[df4["state"]=="경북/문경","state"] = "경북"
df4.loc[df4["state"]=="포항","city"] = "포항"
df4.loc[df4["state"]=="포항","state"] = "경북"
df4.loc[df4["state"]=="경북/안동","city"] = "안동"
df4.loc[df4["state"]=="경북/안동","state"] = "경북"
df4.loc[df4["state"]=="전남/무안군","city"] = "전남"
df4.loc[df4["state"]=="전남/무안군","state"] = "무안"
df4.loc[df4["state"]=="경북/구미","city"] = "구미"
df4.loc[df4["state"]=="경북/구미","state"] = "경북"
df4.loc[df4["state"]=="경북/상주","city"] = "상주"
df4.loc[df4["state"]=="경북/상주","state"] = "경북"
df4.loc[df4["state"]=="경북/영천","city"] = "영천"
df4.loc[df4["state"]=="경북/영천","state"] = "경북"
df4.loc[df4["state"]=="경남/합천군","city"] = "합천"
df4.loc[df4["state"]=="경남/합천군","state"] = "경남"
df4.loc[df4["state"]=="전남/고흥군","city"] = "고흥"
df4.loc[df4["state"]=="전남/고흥군","state"] = "전남"
df4.loc[df4["state"]=="무안","state"] = "전남"
df4.loc[df4["state"]=="서해안","city"] = "미상"
df4.loc[df4["state"]=="서해안","state"] = "국산"
df4.loc[df4["state"]=="남해안","city"] = "미상"
df4.loc[df4["state"]=="남해안","state"] = "국산"


# 외국
## 아시아
df4.loc[df4["state"]=="칠레","city"] = "칠레"
df4.loc[df4["state"]=="칠레","state"] = "수입"
df4.loc[df4["state"]=="일본","city"] = "일본"
df4.loc[df4["state"]=="일본","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="우즈베크","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베크","state"] = "수입"
df4.loc[df4["state"]=="이스라엘","city"] = "이스라엘"
df4.loc[df4["state"]=="이스라엘","state"] = "수입"
df4.loc[df4["state"]=="터키","city"] = "터키"
df4.loc[df4["state"]=="터키","state"] = "수입"
df4.loc[df4["state"]=="중국","city"] = "중국"
df4.loc[df4["state"]=="중국","state"] = "수입"
df4.loc[df4["state"]=="타이","city"] = "태국"
df4.loc[df4["state"]=="타이","state"] = "수입"
df4.loc[df4["state"]=="태국","city"] = "태국"
df4.loc[df4["state"]=="태국","state"] = "수입"
df4.loc[df4["state"]=="필리핀","city"] = "필리핀"
df4.loc[df4["state"]=="필리핀","state"] = "수입"
df4.loc[df4["state"]=="우즈베키스탄","city"] = "우즈베키스탄"
df4.loc[df4["state"]=="우즈베키스탄","state"] = "수입"
df4.loc[df4["state"]=="대만","city"] = "대만"
df4.loc[df4["state"]=="대만","state"] = "수입"
df4.loc[df4["state"]=="베트남","city"] = "베트남"
df4.loc[df4["state"]=="베트남","state"] = "수입"
df4.loc[df4["state"]=="이란","city"] = "이란"
df4.loc[df4["state"]=="이란","state"] = "수입"
df4.loc[df4["state"]=="러","city"] = "러시아"
df4.loc[df4["state"]=="러","state"] = "수입"
df4.loc[df4["state"]=="캄보디아","city"] = "캄보디아"
df4.loc[df4["state"]=="캄보디아","state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"city"] = "인도네시아"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도네시아"),"state"] = "수입"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"city"] = "인도"
df4.loc[(df4["state"]=="인")&(df4["origin"]=="인도"),"state"] = "수입"

## 아메리카

df4.loc[df4["state"]=="캘리포니아","city"] = "미국"
df4.loc[df4["state"]=="캘리포니아","state"] = "수입"
df4.loc[df4["state"]=="포클랜드","city"] = "영국"
df4.loc[df4["state"]=="포클랜드","state"] = "수입"
df4.loc[df4["state"]=="콜롬비아","city"] = "콜롬비아"
df4.loc[df4["state"]=="콜롬비아","state"] = "수입"
df4.loc[df4["state"]=="에콰","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰","state"] = "수입"
df4.loc[df4["state"]=="에쿠아","city"] = "에콰도르"
df4.loc[df4["state"]=="에쿠아","state"] = "수입"
df4.loc[df4["state"]=="에콰돌","city"] = "에콰도르"
df4.loc[df4["state"]=="에콰돌","state"] = "수입"
df4.loc[df4["state"]=="과테말라","city"] = "과테말라"
df4.loc[df4["state"]=="과테말라","state"] = "수입"
df4.loc[df4["state"]=="코스타리카","city"] = "코스타리카"
df4.loc[df4["state"]=="코스타리카","state"] = "수입"
df4.loc[df4["state"]=="멕","city"] = "멕시코"
df4.loc[df4["state"]=="멕","state"] = "수입"
df4.loc[df4["state"]=="페루","city"] = "페루"
df4.loc[df4["state"]=="페루","state"] = "수입"
df4.loc[df4["state"]=="미국","city"] = "미국"
df4.loc[df4["state"]=="미국","state"] = "수입"
df4.loc[df4["state"]=="아르헨티나","city"] = "아르헨티나"
df4.loc[df4["state"]=="아르헨티나","state"] = "수입"
df4.loc[df4["state"]=="브라질","city"] = "브라질"
df4.loc[df4["state"]=="브라질","state"] = "수입"

## 유럽
df4.loc[df4["state"]=="스페인","city"] = "스페인"
df4.loc[df4["state"]=="스페인","state"] = "수입"
df4.loc[df4["state"]=="우크라이나","city"] = "우크라이나"
df4.loc[df4["state"]=="우크라이나","state"] = "수입"
df4.loc[df4["state"]=="이탈리아","city"] = "이탈리아"
df4.loc[df4["state"]=="이탈리아","state"] = "수입"
df4.loc[df4["state"]=="불가리아","city"] = "불가리아"
df4.loc[df4["state"]=="불가리아","state"] = "수입"
df4.loc[df4["state"]=="그리스","city"] = "그리스"
df4.loc[df4["state"]=="그리스","state"] = "수입"

## 아프리카
df4.loc[df4["state"]=="남아프리카","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카","state"] = "수입"
df4.loc[df4["state"]=="남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="남아프리카공화국","state"] = "수입"
df4.loc[df4["state"]=="수입남아프리카공화국","city"] = "남아공"
df4.loc[df4["state"]=="수입남아프리카공화국","state"] = "수입"


## 오세아니아
df4.loc[df4["state"]=="뉴질랜드","city"] = "뉴질랜드"
df4.loc[df4["state"]=="뉴질랜드","state"] = "수입"
df4.loc[df4["state"]=="오스트레일","city"] = "호주"
df4.loc[df4["state"]=="오스트레일","state"] = "수입"
df4.loc[df4["state"]=="오스트레일리아","city"] = "호주"
df4.loc[df4["state"]=="오스트레일리아","state"] = "수입"
df4.loc[df4["state"]=="호주","city"] = "호주"
df4.loc[df4["state"]=="호주","state"] = "수입"
df4.loc[df4["state"]=="통가","city"] = "통가"
df4.loc[df4["state"]=="통가","state"] = "수입"
df4.loc[df4["state"]=="뉴칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴칼레","state"] = "수입"
df4.loc[df4["state"]=="뉴","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="뉴","state"] = "수입"
df4.loc[df4["state"]=="누벨칼레","city"] = "뉴칼레도니아"
df4.loc[df4["state"]=="누벨칼레","state"] = "수입"
# 기타
df4.loc[df4["state"]=="수입산","state"] = "수입"
df4.loc[df4["state"]=="기타외국","city"] = "미상"
df4.loc[df4["state"]=="기타외국","state"] = "수입"
df4.drop(df4[df4["state"]=="미등록"].index,inplace=True)

In [65]:
df4['state'].unique()

array(['전남', '경기', '서울', '광주', '경남', '경북', '전북', '충남', '충북', '인천', '강원',
       '제주', '수입', '대구', '세종', '부산', '울산', '대전', '국산'], dtype=object)

In [66]:
# city
# 우선 결측치 제거
df4.loc[df4["city"].isnull(),"city"] = "미상"

In [67]:
# 이후 시,군 등 제거
def name_sort(words):
  p = re.compile('[^시군]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort)

In [68]:
# \t 도 제거
def name_sort2(words):
  p = re.compile('[^\t]+')
  word = re.search(p,words)
  return word.group()

df4["city"] = df4["city"].apply(name_sort2)

In [69]:
df4['city'].unique()

array(['무안', '포천', '고양', '파주', '여수', '구리', '신안', '안성', '송파구', '남양주',
       '은평구', '강서구', '광산구', '진주', '여주', '김해', '밀양', '의령', '창녕', '창원',
       '함안', '상주', '성주', '전주', '부여', '양평', '금산', '고성', '나주', '산', '임실',
       '예산', '미상', '거제', '완주', '충주', '이천', '광주', '하남', '익산', '광양', '당진',
       '서산', '강화', '보령', '태안', '영암', '김제', '음성', '고창', '논산', '천안', '해남',
       '아산', '진천', '김천', '서천', '홍성', '영천', '원주', '순천', '성남', '강동구', '제주',
       '용인', '양주', '중랑구', '도봉구', '흥', '광명', '동대문구', '제천', '미국', '양천구',
       '의왕', '대구', '고흥', '담양', '경산', '영양', '평창', '영광', '평택', '세종', '합천',
       '에콰도르', '페루', '필리핀', '베트남', '코스타리카', '콜롬비아', '과테말라', '구례', '공주',
       '뉴질랜드', '부산', '사천', '산청', '청원', '함평', '안동', '청주', '서구', '강진', '남구',
       '오산', '중국', '장흥', '영덕', '보성', '경주', '하동', '고령', '순창', '함양', '남원',
       '북구', '거창', '곡성', '청양', '부안', '계양구', '청도', '남해', '영동', '이집트', '칠레',
       '포항', '수원', '화성', '문경', '연기', '김포', '장수', '진도', '완도', '영월', '가평',
       '횡성', '인제', '홍천', '양양', '태백', '괴산', '증평', '춘천', '연천', '정읍', '장성',
       '화순', '보은', '화천', '서울', '의정부', '철원', '안양', '강릉', '안산', '목포', '마산',
       '멕', '우즈베키스탄', '울산', '대전', '무주', '예천', '통영', '청송', '영주', '양구',
       '의성', '봉화', '옥천', '단양', '위', '계룡', '부천', '정선', '칠곡', '구미', '호주',
       '이스라엘', '대만', '중구', '스페인', '진안', '그리스', '태국', '캄보디아', '부평구', '인천',
       '남동구', '강남구', '미추홀구', '동구', '러', '삼천포', '마산(고성,진해)', '노르웨이',
       '장항(서천)', '고흥(나로도)', '기타', '세네갈', '순천(광양)', '말레이지아', '타이', '아르헨티나',
       '캐나다', '일본'], dtype=object)

In [70]:
# 나머지 케이스 정리

# 국내
df4.loc[df4["city"]=="기타","city"] = "미상"
## 일반시
df4.loc[df4["city"]=="위","city"] = "군위"
df4.loc[df4["city"]=="고흥(나로도)","city"] = "고흥"
df4.loc[df4["city"]=="산","city"] = "군산"
df4.loc[df4["city"]=="장항(서천)","city"] = "서천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="삼천포","city"] = "사천"
df4.loc[df4["city"]=="순천(광양)","city"] = "순천"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="대천(보령)","city"] = "보령"
df4.loc[df4["city"]=="화성(평택)","city"] = "화성"
df4.loc[df4["city"]=="흥","city"] = "시흥"
df4.loc[df4["city"]=="목포(무안)","city"] = "목포"
df4.loc[df4["city"]=="목포(무안)","state"] = "전남"
df4.loc[df4["city"]=="보성(벌교)","city"] = "보성"
df4.loc[df4["city"]=="울진(후포)","city"] = "울진"
df4.loc[df4["city"]=="논","city"] = "논산"
df4.loc[df4["city"]=="논","city"] = "논산"
df4.loc[df4["city"]=="순","city"] = "순창"
df4.loc[df4["city"]=="익","city"] = "익산"
df4.loc[df4["city"]=="미금","city"] = "성남"
df4.loc[df4["city"]=="주문진","city"] = "강릉"
df4.loc[df4["city"]=="거제(장승포)","city"] = "거제"
df4.loc[(df4["city"]=="완")&(df4["state"]=="전북"),"city"] = "완주"
df4.loc[(df4["state"]=="전북")&(df4["city"]=="남"),"city"] = "남원"
df4.loc[(df4['prd']=="호박") & (df4['state']=='전북'),"city"] = "전주"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="신"),"city"] = "신안"
df4.loc[(df4["state"]=="전북")&(df4["city"]=="장"),"city"] = "장수"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="진"),"city"] = "진도"
df4.loc[(df4["state"]=="충남")&(df4["city"]=="부"),"city"] = "부여"
df4.loc[(df4["state"]=="경남")&(df4["city"]=="의"),"city"] = "의령"
df4.loc[(df4["state"]=="전남")&(df4["city"]=="함"),"city"] = "함평"
## 광역시
df4.loc[df4["city"]=="강서구","city"] = "서울"
df4.loc[df4["city"]=="은평구","city"] = "서울"
df4.loc[df4["city"]=="강동구","city"] = "서울"
df4.loc[df4["city"]=="마포구","city"] = "서울"
df4.loc[df4["city"]=="중구","city"] = "서울"
df4.loc[df4["city"]=="송파구","city"] = "서울"
df4.loc[df4["city"]=="도봉구","city"] = "서울"
df4.loc[df4["city"]=="중랑구","city"] = "서울"
df4.loc[df4["city"]=="양천구","city"] = "서울"
df4.loc[df4["city"]=="성동구","city"] = "서울"
df4.loc[df4["city"]=="강남구","city"] = "서울"
df4.loc[df4["city"]=="동대문구","city"] = "서울"
df4.loc[df4["city"]=="영등포구","city"] = "서울"
df4.loc[df4["city"]=="영등포","city"] = "서울"
df4.loc[df4["city"]=="서초구","city"] = "서울"
df4.loc[df4["city"]=="구로구","city"] = "서울"
df4.loc[df4["city"]=="동대문","city"] = "서울"
df4.loc[df4["city"]=="금천구","city"] = "서울"
df4.loc[df4["city"]=="동작구","city"] = "서울"
df4.loc[df4["city"]=="용산구","city"] = "서울"
df4.loc[df4["city"]=="광진구","city"] = "서울"
df4.loc[df4["city"]=="종로구","city"] = "서울"

df4.loc[df4["city"]=="광산구","city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="남구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="북구"),"city"] = "광주"
df4.loc[(df4["state"]=="광주")&(df4["city"]=="서구"),"city"] = "광주"
df4.loc[df4["city"]=="동구","city"] = "광주"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="남구"),"city"] = "인천"
df4.loc[(df4["state"]=="인천")&(df4["city"]=="서구"),"city"] = "인천"
df4.loc[df4["city"]=="미추홀","city"] = "인천"
df4.loc[df4["city"]=="부평구","city"] = "인천"
df4.loc[df4["city"]=="남동구","city"] = "인천"
df4.loc[df4["city"]=="미추홀구","city"] = "인천"
df4.loc[df4["city"]=="계양구","city"] = "인천"
df4.loc[df4["city"]=="마산(고성,진해)","city"] = "창원"
df4.loc[(df4["state"]=="부산")&(df4["city"]=="북구"),"city"] = "부산"
df4.loc[df4["city"]=="오포","city"] = "부산"
df4.loc[df4["city"]=="부산진","city"] = "부산"
df4.loc[df4["city"]=="사상구","city"] = "부산"
df4.loc[df4["city"]=="부산진구","city"] = "부산"
df4.loc[df4["city"]=="북제주","city"] = "제주"
df4.loc[df4["city"]=="남제주","city"] = "제주"

# 해외
## 아시아
df4.loc[df4["city"]=="러","city"] = "러시아"
df4.loc[df4["city"]=="말레이지아","city"] = "말레이시아"
df4.loc[df4["city"]=="타이","city"] = "태국"
df4.loc[df4["city"]=="인도네","city"] = "인도네시아"
df4.loc[df4["city"]=="사우디","city"] = "사우디아라비아"
## 아메리카
df4.loc[df4["city"]=="멕","city"] = "멕시코"
## 아프리카
df4.loc[df4["city"]=="남아공산","city"] = "남아공"
## 유럽
## 오세아니아

In [71]:
df4[df4['city']=='함']

Empty DataFrame
Columns: [prd, scale, price, origin, eco, reg_date, new_class, price_kg, state, city]
Index: []

In [72]:
# 기존 city 리스트와 비교
ex_city = pd.read_csv("../cities.csv")
df4[~df4['city'].isin(ex_city['city'])]['city'].unique()

array([], dtype=object)

In [73]:
# 리스트 최신화
new_city = pd.DataFrame(df4['city'].unique(),columns=['city'])
cities = ex_city.append(new_city,ignore_index=True)

/var/folders/nq/s4zx76p53d11lnr0t1dxpxh00000gn/T/ipykernel_3765/1856950528.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cities = ex_city.append(new_city,ignore_index=True)

In [74]:
cities.drop(columns=['Unnamed: 0'],inplace=True)
cities.drop_duplicates(inplace=True)
cities.reset_index(inplace=True,drop=True)

In [75]:
cities.to_csv('../cities.csv')

In [76]:
# 처리 완료하였으니 df4는 백업으로 두고 df5 활용
df5 = df4.drop(columns='origin')

# 전처리 결과

# 파일 저장

In [77]:
df5.to_csv('../data_proceed/202203_proceed.csv')